@{
	ViewBag.Title = "List";
	Layout = "~/Views/Shared/_DetailLayout.cshtml";
}

@* 顶部导航分部视图 *@
@Html.Partial("~/Views/Shared/PartialTopNav.cshtml")
<link href="~/Content/assets/css/talent/talent.css" rel="stylesheet" />

<style>
	.yPagination a {
		padding: 7px 12px;
		border: 1px #FF6600 solid;
		color: #FFFFFF;
		margin-right: 5px;
		background-color: #FF6600;
		border-radius: 4px;
	}

		.yPagination a.jump, .yPagination a.go {
			background-color: #fff;
			color: #000;
			border: 1px solid transparent;
		}
</style>


<!--搜索 -->
<div class="page_so">
	<div class="sobox">
		<div class="selecttype">
			@*<div class="J_sli sli select">精准</div>*@
			<div class="J_sli sli select">全文</div>
			<div class="clear"></div>
		</div>
		<div class="inputbg">
			@*<div title="" class="selecttype J_hoverbut">选择地区</div>*@
			<div class="inoputbox">
				<input id="key" name="key" type="text" value="" placeholder="请输入关键字">
			</div>
			<input id="btnTalentSearch" type="button" class="sobut J_hoverbut" value="搜索">
		</div>
		@*<div class="righttxt link_gray6">
			<a href="javascript:void(0)">分类搜索</a>
		</div>*@
		<div class="clear"></div>
	</div>
	@*<div class="hotword link_gray9 font_gray9 nowrap">
			您是不是想找：
			<a href="javascript:void(0)">angelina</a>
			<a href="javascript:void(0)">销售代表</a>
			<a href="javascript:void(0)">销售经理</a>
			<a href="javascript:void(0)">会计</a>
			<a href="javascript:void(0)">销售工程师</a>
		</div>*@
	@*<div class="so_condition_show">
			<div class="J_showbtn showbtn unfold none">打开筛选</div>
			<div class="J_showbtn showbtn">收起筛选</div>
			<div class="clear"></div>
		</div>*@
</div>

@* 类别筛选 开始 *@

<div class="so_condition J_so_condition">

	@* 工作经验 *@
	@*<div class="lefttit">工作经验</div>
	<div class="rs">
		<div class="li select"><a href="javascript:void(0)">不限</a></div>
		<div class="li"><a href="javascript:void(0)">无经验</a></div>
		<div class="li"><a href="javascript:void(0)">1年以下</a></div>
		<div class="li"><a href="javascript:void(0)">1-3年</a></div>
		<div class="li"><a href="javascript:void(0)">3-5年</a></div>
		<div class="li"><a href="javascript:void(0)">5-10年</a></div>
		<div class="li"><a href="javascript:void(0)">10年以上</a></div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>*@

	@* 简历标签 *@
	@*<div class="lefttit">简历标签</div>
	<div class="rs">
		<div class="li select"><a href="javascript:void(0)">不限</a></div>
		<div class="li "><a href="javascript:void(0)">形象好</a></div>
		<div class="li "><a href="javascript:void(0)">气质佳</a></div>
		<div class="li "><a href="javascript:void(0)">能出差</a></div>
		<div class="li "><a href="javascript:void(0)">很幽默</a></div>
		<div class="li "><a href="javascript:void(0)">技术精悍</a></div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>*@

	@*<div class="lefttit">更多筛选</div>*@
	<div class="rs">

		@* 性别 *@
		@*<div class="bli J_dropdown">
			<span class="txt">性别</span>
			<div class="dropdowbox1 J_dropdown_menu">
				<div class="dropdow_inner1">
					<ul class="nav_box">
						<li><a href="javascript:void(0)">男</a></li>
						<li><a href="javascript:void(0)">女</a></li>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div>*@


		@* 年龄 *@
		@*<div class="bli J_dropdown">
			<span>年龄</span>
			<div class="dropdowbox1 J_dropdown_menu">
				<div class="dropdow_inner1">
					<ul class="nav_box">
						<li><a href="javascript:void(0)">全部</a></li>
						<li><a href="javascript:void(0)">16-20岁</a></li>
						<li><a href="javascript:void(0)">21-30岁</a></li>
						<li><a href="javascript:void(0)">31-40岁</a></li>
						<li><a href="javascript:void(0)">41-50岁</a></li>
						<li><a href="javascript:void(0)">50岁以上</a></li>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div>*@

		@* 行业类别 *@
		@*<div class="bli J_dropdown">
			<span class="txt" title="行业类别">行业类别</span>
			<div class="dropdowbox2 J_dropdown_menu">
				<div class="dropdow_inner2">
					<ul class="nav_box">
						<li><a href="javascript:void(0)">计算机软件/硬件</a></li>
						<li><a href="javascript:void(0)">计算机系统/维修</a></li>
						<li><a href="javascript:void(0)">通信(设备/运营/服务)</a></li>
						<li><a href="javascript:void(0)">互联网/电子商务</a></li>
					</ul>
					<div class="clear"></div>
				</div>
			</div>
			<div class="clear"></div>
		</div>*@

		@* 所学专业 *@
		@*<div class="bli J_dropdown">
			<span class="txt" title="所学专业">所学专业</span>
			<div class="dropdowbox3 J_dropdown_menu">
				<div class="dropdow_inner3">
					<ul class="nav_box">
						<div class="tabnav">
							<div class="tab_list  select">文学类</div>
							<div class="tab_list ">工科类</div>
							<div class="tab_list ">理科类</div>
							<div class="tab_list ">农学类</div>
							<div class="tab_list ">医学类</div>
							<div class="tab_list ">管理学</div>
							<div class="tab_list ">法学类</div>
							<div class="tab_list ">其他类</div>
							<div class="clear"></div>
						</div>
						<div class="tab_content select">
							<div class="content_list">
								<li><a href="javascript:void(0)">中国语言文学类</a></li>
							</div><div class="content_list">
								<li><a href="javascript:void(0)">外国语言文学类</a></li>
							</div><div class="content_list">
								<li><a href="javascript:void(0)">新闻传播学类</a></li>
							</div><div class="content_list">
								<li><a href="javascript:void(0)">艺术类</a></li>
							</div>
							<div class="clear"></div>
						</div>
						<div class="tab_content">
							<div class="content_list">
								<li><a href="javascript:void(0)">电气信息类</a></li>
							</div>
							<div class="content_list">
								<li><a href="javascript:void(0)">电气信息类</a></li>
							</div>
							<div class="content_list">
								<li><a href="javascript:void(0)">地矿类</a></li>
							</div>
							<div class="clear"></div>
						</div>
						<div class="tab_content">
							<div class="content_list">
								<li><a href="javascript:void(0)">数学类</a></li>
							</div>
							<div class="content_list">
								<li><a href="javascript:void(0)">物理学类</a></li>
							</div>
							<div class="clear"></div>
						</div>
						<div class="tab_content">
							<div class="content_list">
								<li><a href="javascript:void(0)">植物生产类</a></li>
							</div>
							<div class="content_list">
								<li><a href="javascript:void(0)">草业科学类</a></li>
							</div>
							<div class="clear"></div>
						</div>
						<div class="tab_content">
							<div class="content_list">
								<li><a href="javascript:void(0)">基础医学类</a></li>
							</div>
							<div class="content_list">
								<li><a href="javascript:void(0)">预防医学类</a></li>
							</div>
							<div class="clear"></div>
						</div>
						<div class="tab_content">
							<div class="content_list">
								<li><a href="javascript:void(0)">管理科学与工程类</a></li>
							</div>
							<div class="content_list">
								<li><a href="javascript:void(0)">工商管理类</a></li>
							</div>
							<div class="clear"></div>
						</div>
						<div class="tab_content">
							<div class="content_list">
								<li><a href="javascript:void(0)">法学类</a></li>
							</div>
							<div class="content_list">
								<li><a href="javascript:void(0)">马克思主义理论类</a></li>
							</div>
							<div class="clear"></div>
						</div>
						<div class="tab_content">
							<div class="content_list">
								<li><a href="javascript:void(0)">哲学类</a></li>
							</div>
							<div class="content_list">
								<li><a href="javascript:void(0)">经济学类</a></li>
							</div>
							<div class="clear"></div>
						</div>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div>*@

		@* 学历要求 *@
		@*<div class="bli J_dropdown">
			<span>学历要求</span>
			<div class="dropdowbox1 J_dropdown_menu">
				<div class="dropdow_inner1">
					<ul class="nav_box">
						<li><a href="javascript:void(0)">初中</a></li>
						<li><a href="javascript:void(0)">高中</a></li>
						<li><a href="javascript:void(0)">中技</a></li>
						<li><a href="javascript:void(0)">中专</a></li>
						<li><a href="javascript:void(0)">大专</a></li>
						<li><a href="javascript:void(0)">本科</a></li>
						<li><a href="javascript:void(0)">硕士</a></li>
						<li><a href="javascript:void(0)">博士</a></li>
						<li><a href="javascript:void(0)">博后</a></li>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div>*@

		@* 工作性质 *@
		@*<div class="bli J_dropdown">
			<span>工作性质</span>
			<div class="dropdowbox1 J_dropdown_menu">
				<div class="dropdow_inner1">
					<ul class="nav_box">
						<li><a href="javascript:void(0)">全职</a></li>
						<li><a href="javascript:void(0)">兼职</a></li>
						<li><a href="javascript:void(0)">实习</a></li>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div>*@

		@* 期望薪资 *@
		@*<div class="bli J_dropdown">
			<span class="txt">期望薪资</span>
			<div class="dropdowbox4 J_dropdown_menu">
				<div class="dropdow_inner4">
					<ul class="nav_box">
						<li><a href="javascript:void(0)">1K~1.5K/月</a></li>
						<li><a href="javascript:void(0)">1.5K~2K/月</a></li>
						<li><a href="javascript:void(0)">2K~3K/月</a></li>
						<li><a href="javascript:void(0)">3K~5K/月</a></li>
						<li><a href="javascript:void(0)">5K~10K/月</a></li>
						<li><a href="javascript:void(0)">10K以上/月</a></li>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div>*@

		@* 更新时间 *@
		@*<div class="bli J_dropdown">
			<span>更新时间</span>
			<div class="dropdowbox1 J_dropdown_menu">
				<div class="dropdow_inner1">
					<ul class="nav_box">
						<li><a href="javascript:void(0)">3天内</a></li>
						<li><a href="javascript:void(0)">7天内</a></li>
						<li><a href="javascript:void(0)">15天内</a></li>
						<li><a href="javascript:void(0)">30天内</a></li>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</div>*@
		<div class="clear"></div>
	</div>
	<div class="clear"></div>

	@*已选条件，当没有条件的时候不显示下面的DIV*@
	<div class="selected J_selected">
		<div class="stit">已选条件</div>
		<div class="sc">
			<div class="clear"></div>
		</div>
		<div class="sr">
			<div class="empty">清空</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

@* 类别筛选 结束 *@

<div class="plist">
	<div class="pl">
		<div class="toptitle">


			@* 列表操作 开始 *@
			<div class="ltype">
				<div class="typeli select">综合排序</div>
				@*<div class="typeli">更新时间</div>*@
				<div class="clear"></div>
				<div class="clear"></div>
			</div>
			@* 列表操作 结束 *@


			<div class="ts">
				<div class="l1"></div>
				<div class="l2 ">
					@*<div class="radiobox"></div>
					<div class="radiotxt">有照片</div>*@
					<div class="clear"></div>
				</div>
				<div class="l2 ">
					@*<div class="radiobox"></div>
					<div class="radiotxt">手机已认证</div>*@
					<div class="clear"></div>
				</div>
				<div id="spreadAll" class="J_detailList l3 select" title="切换到详细列表"></div>
				<div id="foldAll" class="J_detailList l4" title="切换到简易列表"></div>


				<div class="l5" id="pageShow">
					@*<span>1</span>/1页*@
					<div class="clear"></div>
				</div>


				<div class="clear"></div>
			</div>
		</div>
		<div class="listb J_allListBox">

			<div id="talentList">

				@* 搜索无结果 开始 *@
				@*<div class="listb J_allListBox">
						<div class="list_empty_group">
							<div class="list_empty">
								<div class="list_empty_left"></div>
								<div class="list_empty_right">
									<div class="sorry_box">对不起，没有找到符合您条件的简历！</div>
									<div class="stips_box">放宽您的查找条件也许有更多合适您的简历哦~</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>*@
				@* 搜索无结果 结束 *@

				@* 列表Item 开始 *@
				@*<div class="J_resumeList yli">
						<div class="td1">
							<div class="J_allList radiobox"></div>
						</div>
						<div class="td2 link_blue substring">
							<a href="javascript:void(0)" target="_blank">啊啊</a>
						</div>
						<div class="td3 substring">
							男
							<span>|</span>20岁
							<span>|</span>中专
							<span>|</span>3-5年
						</div>
						<div class="td4 substring">贸易/采购</div>
						<div class="td5 substring">句容</div>
						<div class="td6">2017-03-09</div>
						<div class="td7">
							<div class="J_resumeStatus hide"></div>
						</div>
						<div class="clear"></div>


						<!-- 列表item明细 开始 -->
						<div class="detail">
							<div class="ltx">
								<div class="photo">
									<img src="/Content/assets/img/no_photo_male.png" border="0">
								</div>
								<div class="tcent">
									<div class="txt font_gray6">
										兼职
										<span>|</span>5K~10K/月
										<span>|</span>我目前在职，但考虑换个新环境
									</div>
									<div class="dlabs">
										该简历没有填写自我描述
										<div class="clear"></div>
									</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="rbtn">
								<div class="deliver J_downResume">下载简历</div>
								<div class="favorites J_collectForResume">收藏</div>
							</div>
							<div class="clear"></div>
						</div>
						<!-- 列表item明细 结束 -->


					</div>*@
				@* 列表Item 结束 *@
			</div>

			@* 收藏简历 开始 *@
			<div class="listbtn" id="resumeOperate">
				@*<div class="td1">
					<div class="radiobox J_allSelected"></div>
				</div>
				<div class="td2">
					<div class="lbts J_collectForResume">收藏简历</div>
					<div class="clear"></div>
				</div>*@
				<div class="clear"></div>
			</div>
			@* 收藏简历 结束 *@


			@* 分页 开始 *@
			<div class="qspage" id="pagination">
				@*<a class="unable">上一页</a>
					<span class="current">1</span>
					<a class="unable">下一页</a>*@
			</div>
			@* 分页 结束 *@

		</div>
	</div>
	<div class="clear"></div>
</div>



<script src="~/Content/assets/js/talent/list.js"></script>