@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_MLayout.cshtml";
}
<link href="~/Content/assets/css/member/common.css" rel="stylesheet" />

<link href="~/Content/assets/css/m/personal_index.css" rel="stylesheet" />



<style>
	.resumeinfo .linfo {
		border-right: 0 solid #ccc;
	}
</style>

<div class="user_main">


	@* 会员中心左侧导航栏 *@
	@Html.Partial("~/Views/Shared/PartialMCenterLeftNav.cshtml")


	<div class="mainbox">
		<!-- 完善简历提示-->
		@*<div class="toptip">
				<div class="topadd">
					<div class="td1"></div>
					<div class="td2">
						<span class="font_blue">您的简历完整度太低，会极大影响求职成功率哦！</span>
						<br>完善工作经验、教育培训经历、语言能力、技能证书…等，可以有效提高求职成功率
					</div>
					<div class="td3">
						<div class="but_blue_115 J_hoverbut">马上完善简历</div>
					</div>
					<div class="td4">
						<div class="but_gray_60 J_hoverbut">忽略</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="topaddarrow"></div>
			</div>*@
		<!-- 完善简历提示结束-->
		<!-- 用户名微信绑定提示-->
		@* 联系方式 开始 *@
		<div id="userContact" class="userbox">
			@*<div class="td1 substring"><strong id="realname">下午好，袁zz</strong></div>
				<div class="td2 link_gray6"><a href="javascript:void(0)">15802745971</a></div>
				<div class="td3 link_gray6"><a href="javascript:void(0)">1277745281@qq.com</a></div>*@
			<div class="clear"></div>
		</div>
		@* 联系方式 结束 *@



		@* 我的简历和统计部分 开始 *@
		<div class="infobox">
			<div class="picbox">
				<div class="photo">
					<a href="javascript:void(0)">
						<img id="perHeadImg" src="/Content/assets/img/m/no_photo_male.png" border="0">
					</a>
				</div>
				<div class="txt link_blue">我的简历</div>
			</div>
			<div class="clear"></div>

			@* 简历完整度 开始 *@
			@*<div class="td1 J_hoverbut">
					<div class="val font_red">35%</div>
					简历完整度<span class="red_light">(差)</span>
					<div class="des_box">
						<div class="desarrow"></div>
						<div class="des_txt">
							<strong>您的简历完整度太差！</strong><br>
							完整的简历才能快速好到工作！<br>
							完善简历还可以获取<span>+20</span>积分哦！<br>
							<div class="btn">
								<a href="javascript:void(0)" class="btn_yellow btn_inline">立即完善简历</a>
							</div>
						</div>
					</div>
				</div>*@
			@* 简历完整度 结束 *@




			@*<div class="td2 J_hoverbut"><div class="pic "></div> 简历公开</div>*@
			<div class="td3 J_hoverbut"><div id="postCount" class="val">@*0*@</div> 我的悬赏职位</div>
			@*<div class="td4 J_hoverbut"><div class="val">0</div> 面试邀请</div>
				<div class="td5 J_hoverbut"><div class="val">0</div> 谁在关注我</div>*@

			<div class="clear"></div>
		</div>
		@* 我的简历和统计部分 结束 *@








		<!-- 刷新推广修改-- -->
		<div class="resumeinfo">
			<div class="linfo">

				@* 审核状态 开始 *@
				<div id="postInfo" class="td1">
					@*审核状态：<span class="font_green">审核通过</span><br>*@
					@*期望职位：行李员<br>
						期望薪资：1K~1.5K/月<br>
						工作经验：应届毕业生<br>*@
					@*更新时间：今天15:36<br>*@
				</div>
				@* 审核状态 结束 *@

				@* 简历操作 开始 *@
				@*<div class="td2">
						<div class="butlist"><div class="J_hoverbut btn_blue btn_100_38">刷新简历</div></div>
						<div class="butlist"><a class="J_hoverbut btn_blue   btn_100_38" href="javascript:void(0)">修改简历</a></div>
						<div class="butlist"><a class="J_hoverbut btn_blue   btn_100_38" href="javascript:void(0)">匹配职位</a></div>
						<div class="butlist"><a class="btn_yellow btn_100_38 resume_stick">简历置顶</a></div>
						<div class="clear"></div>
					</div>*@
				@* 简历操作 结束 *@


				<div class="clear"></div>
			</div>

			@* 我的积分 开始 *@
			@*<div class="rinfo">
					<div class="goldtxt link_blue">
						我的积分：<span class="my_points_num">65</span><br>
						<a href="javascript:void(0)">做任务赚积分</a>
					</div>
					<div class="sign"><a href="javascript:;" class="J_hoverbut btn_inline btn_lightgray">已签到</a></div>
					<div class="clear"></div>
				</div>*@
			@* 我的积分 结束 *@


			<div class="clear"></div>
		</div>


		<!--推荐职位，最新职位切换卡 -->
		<div class="tabindex">
			<div class="li J_tab select" data-ajaxtype="recommend_jobs">推荐职位</div>
			@*<div class="li J_tab" data-ajaxtype="nearby_jobs">附近职位</div>*@
			<div class="li J_tab" data-ajaxtype="new_jobs">最新职位</div>
			<div class="clear"></div>
			<div class="refresh link_gray6 J_refresh"><a href="javascript:;">换一批</a></div>
		</div>
		<!--职位切换卡结束 -->
		<!--选项卡对应内容div -->
		<div class="tabshow J_tab_menu" style="display:block">
			@*<div class="ajax_loading">
					<div class="ajaxloadtxt"></div>
				</div>*@
			<div class="J_tab_menu_html">
				@*<div class="empty_tipstxt link_blue">
					没有找到相关职位，您可以
					<a target="_blank" href="/jobs/list">进入职位库</a>搜索您心仪的职位！
				</div>*@


			</div>
		</div>
		@*<div class="tabshow J_tab_menu">
			<div class="ajax_loading">
					<div class="ajaxloadtxt"></div>
				</div>
			<div class="J_tab_menu_html"></div>
		</div>
		<div class="tabshow J_tab_menu">
			<div class="ajax_loading">
					<div class="ajaxloadtxt"></div>
				</div>
			<div class="J_tab_menu_html"></div>
		</div>*@
	</div>
	<div class="clear"></div>
</div>
<div class="user_foot font_gray9">© 2017 uqing</div>


<script src="~/Content/assets/js/m/mIndex.js"></script>
