@{
	ViewBag.Title = "UserInfo";
	Layout = "~/Views/Shared/_MLayout.cshtml";
}



<link href="~/Content/assets/css/member/common.css" rel="stylesheet" />
<link href="~/Content/assets/css/m/personal_user.css" rel="stylesheet" />

<div class="user_main">



	@* 会员中心左侧导航栏 *@
	@Html.Partial("~/Views/Shared/PartialMCenterLeftNav.cshtml")



	<div class="mainbox">
		<!--职位切换卡 -->
		<div class="tab">
			<a class="li select">基本资料</a>
			@*<a class="li J_hoverbut" href="javascript:void(0)">我的头像</a>
				<a class="li J_hoverbut" href="javascript:void(0)">账号安全</a>
				<a class="li J_hoverbut" href="javascript:void(0)">登录日志</a>*@
			<div class="clear"></div>
		</div>
		<!--切换卡结束 -->
		<div class="userprofile J_focus">
			<div class="uleft">
				<form class="" action="/uqingert/index.php?m=&amp;c=personal&amp;a=user_info" method="post">
					<div class="td1"><span>&nbsp;</span>姓名：</div>
					<div class="td2">
						<div class="input_245_34_div2 J_tooltip J_listitme_parent">
							<input id="realname" name="realname" type="text" class="inputst " value="">
							@*<div class="righttxt J_listitme_text">
									隐藏名字
								</div>
								<div class="dropdowbox3 J_tooltip_menu">
									<div class="dropdow_inner16">
										<ul class="nav_box">
											<li>
												<a class="J_listitme" href="javascript:;">完全公开</a>
											</li>
											<li>
												<a class="J_listitme" href="javascript:;">显示编号</a>
											</li>
											<li>
												<a class="J_listitme" href="javascript:;">隐藏名字</a>
											</li>
										</ul>
									</div>
								</div>
								<input class="J_listitme_code" name="display_name" type="hidden" value="3">*@
						</div>
					</div>
					<div class="td1"><span>&nbsp;</span>性别：</div>
					<div class="td2">
						<div id="gender" class="sex_radio_list J_radioitme_parent">
							@* <div class="n J_radioitme checked" data-code="1">男</div> *@
							<div class="n J_radioitme" data-gender="1">男</div>
							<div class="w J_radioitme" data-gender="2">女</div>
							<div class="clear"></div>
						</div>
					</div>

					@* 出生年份 开始 *@
					@*<div class="td1"><span>&nbsp;</span>出生年份：</div>
						<div class="td2">
							<div class="input_245_34_div J_hoverinput J_dropdown J_listitme_parent">
								<span class="J_listitme_text">1994</span>
								<div class="dropdowbox5 J_dropdown_menu">
									<div class="dropdow_inner5">
										<ul class="nav_box J_birthdy">
											<div class="J_birthday_box active">
												<li><a class="J_listitme" href="javascript:void(0);" data-code="2001">2001</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="2000">2000</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1999">1999</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1998">1998</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1997">1997</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1996">1996</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1995">1995</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1994">1994</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1993">1993</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1992">1992</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1991">1991</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1990">1990</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1989">1989</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1988">1988</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1987">1987</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1986">1986</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1985">1985</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1984">1984</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1983">1983</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1982">1982</a></li>
											</div>
											<div class="J_birthday_box">
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1981">1981</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1980">1980</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1979">1979</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1978">1978</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1977">1977</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1976">1976</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1975">1975</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1974">1974</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1973">1973</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1972">1972</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1971">1971</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1970">1970</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1969">1969</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1968">1968</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1967">1967</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1966">1966</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1965">1965</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1964">1964</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1963">1963</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1962">1962</a></li>
											</div>
											<div class="J_birthday_box">
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1961">1961</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1960">1960</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1959">1959</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1958">1958</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1957">1957</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1956">1956</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1955">1955</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1954">1954</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1953">1953</a></li>
												<li><a class="J_listitme" href="javascript:void(0);" data-code="1952">1952</a></li>
											</div>
										</ul>
										<a href="javascript:;" class="prev J_birthday_prev" style="display: none;"></a>
										<a href="javascript:;" class="next J_birthday_next"></a>
									</div>
								</div>
								<input class="J_listitme_code" name="birthday" type="hidden" value="1994">
							</div>
						</div>*@
					@* 出生年份 结束 *@



					<div class="td1">现居住地：</div>
					<div class="td2">
						<input id="residence" name="residence" type="text" class="input_245_34" value="">
					</div>

					@* 最高学历 开始 *@
					<div class="td1">
						<span>&nbsp;</span>
						最高学历：
					</div>
					<div class="td2">
						<div class="input_245_34_div J_hoverinput J_dropdown J_listitme_parent">
							<span id="education" class="J_listitme_text">@*本科*@</span>
							@*<div class="dropdowbox4 J_dropdown_menu">
									<div class="dropdow_inner4">
										<ul class="nav_box">
											<li><a class="J_listitme" href="javascript:void(0);" data-code="65">初中</a></li>
											<li><a class="J_listitme" href="javascript:void(0);" data-code="66">高中</a></li>
											<li><a class="J_listitme" href="javascript:void(0);" data-code="67">中技</a></li>
											<li><a class="J_listitme" href="javascript:void(0);" data-code="68">中专</a></li>
											<li><a class="J_listitme" href="javascript:void(0);" data-code="69">大专</a></li>
											<li><a class="J_listitme" href="javascript:void(0);" data-code="70">本科</a></li>
											<li><a class="J_listitme" href="javascript:void(0);" data-code="71">硕士</a></li>
											<li><a class="J_listitme" href="javascript:void(0);" data-code="72">博士</a></li>
											<li><a class="J_listitme" href="javascript:void(0);" data-code="73">其他文化水平</a></li>
										</ul>
									</div>
								</div>
								<input class="J_listitme_code" name="education" type="hidden" value="70">*@
						</div>
					</div>
					@* 最高学历 结束 *@


					@* 所学专业 开始 *@
					@*<div class="td1"> 所学专业：</div>
						<div class="td2">
							<div class="input_245_34_div1 J_hoverinput" data-title="请选择所学专业">
								<span title="" class="result J_resuletitle_major">数学类</span>
								<input class="J_resultcode_major" name="major" type="hidden" value="31">
								<div class="clear"></div>
							</div>
						</div>*@
					@* 所学专业 结束 *@

					@* 工作经验 开始 *@
					<div class="td1"><span>&nbsp;</span>工作经验：</div>
					<div class="td2">
						<div class="input_245_34_div J_hoverinput J_dropdown J_listitme_parent">
							<span id="workLife" class="J_listitme_text">@*10年以上*@</span>
							@*<div class="dropdowbox4 J_dropdown_menu">
									<div class="dropdow_inner4">
										<ul class="nav_box">
											<li><a class="J_listitme" href="javascript:void(0);" data-code="74">无经验</a></li>
											<li><a class="J_listitme" href="javascript:void(0);" data-code="75">1年以下</a></li>
											<li><a class="J_listitme" href="javascript:void(0);" data-code="76">1-3年</a></li>
											<li><a class="J_listitme" href="javascript:void(0);" data-code="77">3-5年</a></li>
											<li><a class="J_listitme" href="javascript:void(0);" data-code="78">5-10年</a></li>
											<li><a class="J_listitme" href="javascript:void(0);" data-code="79">10年以上</a></li>
										</ul>
									</div>
								</div>
								<input class="J_listitme_code" name="experience" type="hidden" value="79">*@
						</div>
					</div>
					@* 工作经验 结束 *@


					<div class="td1">
						<span>&nbsp;</span>
						手机：
					</div>
					<div class="td2">
						<input id="phone" name="phone" type="text" class="input_245_34" value="">
					</div>
					<div class="td1">
						<span>&nbsp;</span>
						邮箱：
					</div>
					<div class="td2">
						<div class="reg-form-content">
							<input id="email" name="email" type="text" value="" class="input_245_34 inputElem">
						</div>
					</div>
					@*<div class="td1">身高：</div>
						<div class="td2">
							<div class="input_245_34_div3">
								<input name="height" type="text" class="inputst" value="176">
								<div class="righttxt">CM</div>
							</div>
						</div>*@
					@*<div class="td1">籍贯：</div>
						<div class="td2">
							<input name="householdaddress" type="text" class="input_245_34" value="湖北武汉">
						</div>*@
					@*<div class="td1">婚姻状况：</div>
						<div class="td2">
							<div class="radio_list J_radioitme_parent">
								<div class="rli J_radioitme checked" data-code="1">未婚</div>
								<div class="rli J_radioitme " data-code="2">已婚</div>
								<div class="rli J_radioitme " data-code="3">保密</div>
								<div class="clear"></div>
								<input class="J_radioitme_code" name="marriage" type="hidden" value="1">
							</div>
						</div>*@

					@* QQ 开始 *@
					@*<div class="td1">QQ：</div>
						<div class="td2">
							<input name="qq" type="text" class="input_245_34" value="1277745281">
						</div>*@
					@* QQ 结束 *@

					@* 微信号 开始 *@
					@*<div class="td1">微信号：</div>
						<div class="td2">
							<input name="weixin" type="text" class="input_245_34" value="yzzsh">
						</div>*@
					@* 微信号 结束 *@


					<div class="clear"></div>
					<div class="butbox">
						<input id="btnSavePerInfo" type="button" class="but_blue_245 J_hoverbut" value="保存">
					</div>
				</form>
			</div>
			<div class="uright">
				<div class="photobox">
					<div class="photo">
						<img id="perHeadImg" border="0" width="150" onerror="this.src = '/Content/assets/img/m/no_photo_male.png'" src="/Content/assets/img/m/no_photo_male.png">
					</div>
					@*<div class="txt">
							<label>
								<input name="photo_display" type="checkbox" value="2">&nbsp;头像不公开
							</label>
						</div>*@
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="user_foot font_gray9">© 2017 uqing</div>
<div class="floatmenu">
	<div class="item ask">
		<a class="blk" target="_blank" href="javascript:void(0)"></a>
	</div>
	<div class="item backtop" style="display: none;">
		<a class="blk"></a>
	</div>
</div>




<script src="~/Content/assets/js/m/userInfo.js"></script>