<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
		<link href="~/Content/assets/css/company_ajax_dialog.css" rel="stylesheet" />
    </head>
    <body>
        @RenderBody()
    </body>
</html>
