<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
		<link href="~/Content/assets/css/company_ajax_dialog.css" rel="stylesheet" />
    </head>
    <body>

        @RenderBody()

		@* --底部开始-- *@
		<div class="footer_min">
			<div class="links link_gray6">
				<a target="_blank" href="/">网站首页</a>
				| <a target="_blank" href="javascript:void(0)">招贤纳士</a>
				| <a target="_blank" href="javascript:void(0)">联系我们</a>
				| <a target="_blank" href="javascript:void(0)">推广合作</a>
				| <a target="_blank" href="javascript:void(0)">法律申明</a>
				| <a target="_blank" href="javascript:void(0)">产品服务</a>
				| <a target="_blank" href="javascript:void(0)">网站介绍</a>
				| <a target="_blank" href="javascript:void(0)">意见建议</a>
			</div>
			<div class="txt">
				联系地址：武汉市武昌区中南路14号发展大厦       联系电话：027-87257676<br>
				Copyright © 2017 优青网  All Right Reserved      鄂ICP备13005602号-1
			</div>
		</div>
		@* --底部结束-- *@

    </body>
</html>
