<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
		<link href="/public/css/members/common.css" rel="stylesheet" type="text/css">
		<link href="/public/css/company/company_ajax_dialog.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        @RenderBody()
    </body>
</html>
