@* 底部 导航 （小） *@

<div class="footer_min">
	<div class="links link_gray6">
		<a href="/">网站首页</a>
		|   <a href="javascript:void(0)">招贤纳士</a>
		|   <a href="javascript:void(0)">联系我们</a>
		|   <a href="javascript:void(0)">推广合作</a>
		|   <a href="javascript:void(0)">法律申明</a>
		|   <a href="javascript:void(0)">产品服务</a>
		|   <a href="javascript:void(0)">网站介绍</a>
		|   <a href="javascript:void(0)">意见建议</a>
	</div>
	<div class="txt">
		联系地址：00省00市00路00号0大厦00楼      联系电话：000-00000000<br>
		Copyright © 2017 uqing All Right Reserved      icp000000000
	</div>
</div>
