@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_DetailLayout.cshtml";
}
<link href="~/public/css/news.css" rel="stylesheet" />

<div class="header_min" id="header">
	<div class="header_min_top">
		<div id="J_header" class="itopl font_gray6 link_gray6">
			<span class="link_yellow">欢迎登录湖北省人才网！请 <a href="/index.php?m=&amp;c=members&amp;a=login">登录</a> 或 <a href="/index.php?m=&amp;c=members&amp;a=register">免费注册</a></span>
			<link href="/Application/Home/View/default/public/css/company/company_ajax_dialog.css" rel="stylesheet" type="text/css">
		</div>
		<div class="itopr font_gray9 link_gray6 substring"> <a href="/" class="home">网站首页</a>|<a href="/index.php?m=&amp;c=m&amp;a=index" class="m">手机访问</a>|<a href="/index.php?m=&amp;c=help&amp;a=index" class="help">帮助中心</a>|<a href="/index.php?m=home&amp;c=index&amp;a=shortcut" class="last">保存到桌面</a> </div>
		<div class="clear"></div>
	</div>
</div>
<div class="alltop_nav" id="nav">
	<div class="tnav">
		<div class="tlogo"><a href="/"><img src="/data/upload/resource/logo_other.jpeg" border="0"></a></div>
		<div class="tl">
			<ul class="link_gray6 nowrap">
				<li class="nli J_hoverbut"><a href="/index.php?m=&amp;c=index&amp;a=index" target="_self">首  页</a></li>
				<li class="nli J_hoverbut"><a href="/index.php?m=&amp;c=jobs&amp;a=jobs_list" target="_self">找工作</a></li>
				<li class="nli J_hoverbut "><a href="/index.php?m=&amp;c=resume&amp;a=resume_list" target="_self">招人才</a></li>
				<li class="nli J_hoverbut "><a href="/index.php?m=&amp;c=hrtools&amp;a=index" target="_self">HR工具箱</a></li>
				<li class="nli J_hoverbut select"><a href="/index.php?m=&amp;c=news&amp;a=index" target="_self">职场资讯</a></li>
				<li class="nli J_hoverbut "><a href="/index.php?m=&amp;c=members&amp;a=login" target="_self">会员中心</a></li>
			</ul>
			<div class="clear"></div>
		</div>
		<div class="tr"></div>
		<div class="clear"></div>
	</div>
</div>
<div class="news">
	<div class="l">
		<div class="newsnav">
			<a target="_blank" href="/index.php?m=&amp;c=news&amp;a=news_list&amp;id=2">职业指导</a><a target="_blank" href="/index.php?m=&amp;c=news&amp;a=news_list&amp;id=3">简历指南</a><a target="_blank" href="/index.php?m=&amp;c=news&amp;a=news_list&amp;id=4">面试宝典</a><a target="_blank" href="/index.php?m=&amp;c=news&amp;a=news_list&amp;id=5">职场八卦</a><a target="_blank" href="/index.php?m=&amp;c=news&amp;a=news_list&amp;id=6">劳动法苑</a><a target="_blank" href="/index.php?m=&amp;c=news&amp;a=news_list&amp;id=7">职场观察</a>		<div class="clear"></div>
		</div>
		<div class="newslist">
			<div class="tit"></div>
			<div id="news_list">
			</div>
			<!-- -->
			<div class="more" page="1">查看更多</div>
		</div>
	</div>

	<div class="r">
		<div class="newsso">
			<form id="form" action="/index.php?m=&amp;c=news&amp;a=news_list">
				<input name="key" type="text" class="soinpu" value="">
				<input type="button" value="" id="so_btn" class="btn">
			</form>
			<input type="hidden" class="f-seach-page" value="?m=Home&amp;c=News&amp;a=news_list&amp;">
		</div>


	</div>
	<div class="clear"></div>
</div>
<div class="footer_min" id="footer">
	<div class="links link_gray6">
		<a target="_blank" href="/index.php?m=&amp;c=index&amp;a=index">网站首页</a>
		|   <a target="_blank" href="/index.php?m=&amp;c=explain&amp;a=explain_show&amp;id=8">招贤纳士</a>|   <a target="_blank" href="/index.php?m=&amp;c=explain&amp;a=explain_show&amp;id=7">联系我们</a>|   <a target="_blank" href="/index.php?m=&amp;c=explain&amp;a=explain_show&amp;id=6">推广合作</a>|   <a target="_blank" href="/index.php?m=&amp;c=explain&amp;a=explain_show&amp;id=5">法律申明</a>|   <a target="_blank" href="/index.php?m=&amp;c=explain&amp;a=explain_show&amp;id=4">产品服务</a>|   <a target="_blank" href="/index.php?m=&amp;c=explain&amp;a=explain_show&amp;id=1">网站介绍</a>	|   <a target="_blank" href="/index.php?m=&amp;c=suggest&amp;a=index">意见建议</a>
	</div>
	<div class="txt">

		联系地址：武汉市武昌区中南路14号发展大厦       联系电话：027-87257676<br>

		Copyright © 2017 湖北省人才网  All Right Reserved      鄂ICP备13005602号-1
	</div>
</div>

<div class="">
	<div class=""></div>
</div>
<!--[if lt IE 9]>
	<script type="text/javascript" src="/Application/Home/View/default/public/js/PIE.js"></script>
  <script type="text/javascript">
	(function($){
		$.pie = function(name, v){
			// 如果没有加载 PIE 则直接终止
			if (! PIE) return false;
			// 是否 jQuery 对象或者选择器名称
			var obj = typeof name == 'object' ? name : $(name);
			// 指定运行插件的 IE 浏览器版本
			var version = 9;
			// 未指定则默认使用 ie10 以下全兼容模式
			if (typeof v != 'number' && v < 9) {
				version = v;
			}
			// 可对指定的多个 jQuery 对象进行样式兼容
			if ($.browser.msie && obj.size() > 0) {
				if ($.browser.version*1 <= version*1) {
					obj.each(function(){
						PIE.attach(this);
					});
				}
			}
		}
	})(jQuery);
	if ($.browser.msie) {
	  $.pie('.pie_about');
	};
  </script>
<![endif]-->
<script type="text/javascript" src="/Application/Home/View/default/public/js/jquery.disappear.tooltip.js"></script><div class="disappear_tooltip pie_about" style="left: 911.5px; top: 189.5px;"><div class="icon"></div><div class="content"></div></div>
<div class="floatmenu">
	<div class="item mobile">
		<a class="blk"></a>
		<div class="popover popover1">
			<div class="popover-bd">
				<label>手机APP</label>
				<span class="img-qrcode img-qrcode-mobile"><img src="/index.php?m=home&amp;c=qrcode&amp;a=index&amp;url=" alt=""></span>
			</div>
		</div>
		<div class="popover">
			<div class="popover-bd">
				<label class="wx">企业微信</label>
				<span class="img-qrcode img-qrcode-wechat"><img src="/data/upload/resource/weixin_img.jpg" alt=""></span>
			</div>
			<div class="popover-arr"></div>
		</div>
	</div>
	<div class="item ask">
		<a class="blk" target="_blank" href="/index.php?m=&amp;c=suggest&amp;a=index"></a>
	</div>
	<div id="backtop" class="item backtop" style="display: none;"><a class="blk"></a></div>
</div>
<script language="JavaScript">

	var global = {
		h: $(window).height(),
		st: $(window).scrollTop(),
		backTop: function () {
			global.st > (global.h * 0.5) ? $("#backtop").show() : $("#backtop").hide();
		}
	}
	$('#backtop').on('click', function () {
		$("html,body").animate({ "scrollTop": 0 }, 500);
	});
	global.backTop();
	$(window).scroll(function () {
		global.h = $(window).height();
		global.st = $(window).scrollTop();
		global.backTop();
	});
	$(window).resize(function () {
		global.h = $(window).height();
		global.st = $(window).scrollTop();
		global.backTop();
	})
</script>
<script type="text/javascript" src="/Application/Home/View/default/public/js/jquery.lazyload.min.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$(".more").click(function () {
			var page = $(this).attr('page');
			$.getJSON("/index.php?m=&c=news&a=ajax_new_article_list", { page: page }, function (result) {
				if (result.status == 1) {
					$("#news_list").append(result.data);
					$(".more").attr('page', parseInt(page) + 1);
				} else {
					$(".more").html('没有更多最新资讯了');
				}
			});
		});

		// 广告位图片延迟加载
		$("img.lazy").lazyload({
			effect: "fadeIn"
		});
		$('#so_btn').click(function () {
			var data = $('#form').serialize();
			if (qscms.keyUrlencode == 1) {
				data = encodeURI(data);
			}
			window.location.href = qscms.root + $('.f-seach-page').val() + data;
		});
	});
</script>
