.login .identity {
	text-align: center;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
}

	.login .identity .item {
		text-decoration: none;
		color: #666;
		display: inline-block;
		line-height: 40px;
		background-color: #eee;
		padding: 0 50px;
		margin: 0;
		border-radius: 4px 4px 0 0;
	}

		.login .identity .item:hover {
			color: #fff;
			background-color: #4579C0;
		}

	.login .identity .active {
		color: #fff;
		background-color: #5F8DC9;
	}
