@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}


	<div class="header_min" id="header">
		<div class="header_min_top">
			<div id="J_header" class="itopl font_gray6 link_gray6">
				<span class="link_yellow">欢迎登录湖北省人才网！请 <a href="/index.php?m=&amp;c=members&amp;a=login">登录</a> 或 <a href="/index.php?m=&amp;c=members&amp;a=register">免费注册</a></span>
				<link href="/Application/Home/View/default/public/css/company/company_ajax_dialog.css" rel="stylesheet" type="text/css">
			</div>
			<div class="itopr font_gray9 link_gray6 substring"> <a href="/" class="home">网站首页</a>|<a href="/index.php?m=&amp;c=m&amp;a=index" class="m">手机访问</a>|<a href="/index.php?m=&amp;c=help&amp;a=index" class="help">帮助中心</a>|<a href="/index.php?m=home&amp;c=index&amp;a=shortcut" class="last">保存到桌面</a> </div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="user_head_bg">
		<div class="user_head">
			<div class="logobox">
				<a href="/"><img src="/Application/Home/View/default/public/images/logo.gif" border="0"></a>
			</div>
			<div class="logotxt">
				|&nbsp;&nbsp;
				会员登录
			</div>
			<div class="reg">
				还没有账号？ <a href="/index.php?m=&amp;c=members&amp;a=register" class="btn_blue J_hoverbut btn_inline">立即注册</a>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="ban_box">
		<div class="banner_list banner_list2" style="opacity: 1; z-index: 0;"></div>
		<div class="banner_list banner_list3" style="opacity: 0; z-index: 0;"></div>
		<div class="banner_list banner_list1" style="opacity: 0; z-index: 0;"></div>
		<div class="maind">
			<div class="login">
				<!--用户名密码登录 -->
				<div class="mob j_mob_show">
					<div class="tit">
						<span class="switch_txt active">会员登录</span>
						<div id="forAccountLogin" class="switch_account link_blue" data-index="0"><a href="javascript:;">切换为账号登录</a></div>
					</div>
					<div class="type_box active">
						<div class="err J_errbox"></div>
						<div class="inputbox J_focus">
							<div class="imgbg"></div>
							<input type="text" class="input_login" name="username" id="username" placeholder="手机号/会员名/邮箱">
						</div>
						<div class="inputbox J_focus">
							<div class="imgbg pwd"></div>
							<input type="password" class="input_login pwd J_loginword" name="password" id="password" placeholder="请输入密码">
						</div>
						<div class="txtbox link_gray6">
							<div class="td1"><label><input name="expire" class="J_expire" checked="checked" type="checkbox" value="1"> 7天内自动登录</label></div>
							<div class="td2"><a href="/index.php?m=&amp;c=members&amp;a=user_getpass">忘记密码?</a></div>
						</div>
						<div class="btnbox">
							<input class="btn_login J_hoverbut" type="button" id="J_dologin" value="登录">
						</div>
						<div class="qqbox">
							<div class="qtit">
								<div class="qtit_left">
									使用合作账号登录
								</div>
								<div class="clear"></div>
							</div>
							<div class="appsparent">
								<div class="apps">
									<a class="ali sina" href="/index.php?m=&amp;c=callback&amp;a=index&amp;mod=sina&amp;type=login" title="新浪微博账号登录"></a><a class="ali qq" href="/index.php?m=&amp;c=callback&amp;a=index&amp;mod=qq&amp;type=login" title="腾讯QQ账号登录"></a><a class="ali taobao" href="/index.php?m=&amp;c=callback&amp;a=index&amp;mod=taobao&amp;type=login" title="淘宝账号登录"></a>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="type_box">
						<div class="err J_errbox"></div>
						<div class="inputbox J_focus">
							<div class="imgbg"></div>
							<input type="text" class="input_login" name="mobile" id="mobile" placeholder="请输入手机号">
						</div>
						<div class="inputbox J_focus">
							<div class="imgbg pwd"></div>
							<input type="text" class="input_login pwd code J_loginword" name="verfy_code" id="verfy_code" placeholder="请输入手机验证码">
							<input class="btn_login code J_hoverbut" type="button" id="getVerfyCode" value="获取验证码">
						</div>
						<div class="txtbox link_gray6">
							<div class="td1"><label><input name="expire_obile" class="J_expire" checked="checked" type="checkbox" value="1"> 7天内自动登录</label></div>
							<div class="td2"><a href="/index.php?m=&amp;c=members&amp;a=user_getpass">忘记密码?</a></div>
						</div>
						<div class="btnbox">
							<input class="btn_login J_hoverbut" type="button" id="J_dologinByMobile" value="登录">
						</div>
						<div class="qqbox">
							<div class="qtit">
								<div class="qtit_left">使用合作账号登录</div>
								<div class="qtit_right link_blue"></div>
								<div class="clear"></div>
							</div>
							<div class="appsparent">
								<div class="apps">
									<a class="ali sina" href="/index.php?m=&amp;c=callback&amp;a=index&amp;mod=sina&amp;type=login" title="新浪微博账号登录"></a><a class="ali qq" href="/index.php?m=&amp;c=callback&amp;a=index&amp;mod=qq&amp;type=login" title="腾讯QQ账号登录"></a><a class="ali taobao" href="/index.php?m=&amp;c=callback&amp;a=index&amp;mod=taobao&amp;type=login" title="淘宝账号登录"></a>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<!--二维码的登录 -->
			</div>
		</div>
	</div>
	<input type="hidden" id="J_loginType" value="0">
	<input type="hidden" id="verify_userlogin" value="0">
	<input type="button" id="origin_btnCheck" style="display:none;"><input type="button" id="btnCheck" style="display:none;">
	<input type="hidden" id="J_sendVerifyType" value="0">
	<div id="popup-captcha"><div class="gt_input"><input class="geetest_challenge" type="hidden" name="geetest_challenge"><input class="geetest_validate" type="hidden" name="geetest_validate"><input class="geetest_seccode" type="hidden" name="geetest_seccode"></div></div>
	<div class="footer_min" id="footer">
		<div class="links link_gray6">
			<a target="_blank" href="/index.php?m=&amp;c=index&amp;a=index">网站首页</a>
			|   <a target="_blank" href="/index.php?m=&amp;c=explain&amp;a=explain_show&amp;id=8">招贤纳士</a>|   <a target="_blank" href="/index.php?m=&amp;c=explain&amp;a=explain_show&amp;id=7">联系我们</a>|   <a target="_blank" href="/index.php?m=&amp;c=explain&amp;a=explain_show&amp;id=6">推广合作</a>|   <a target="_blank" href="/index.php?m=&amp;c=explain&amp;a=explain_show&amp;id=5">法律申明</a>|   <a target="_blank" href="/index.php?m=&amp;c=explain&amp;a=explain_show&amp;id=4">产品服务</a>|   <a target="_blank" href="/index.php?m=&amp;c=explain&amp;a=explain_show&amp;id=1">网站介绍</a>	|   <a target="_blank" href="/index.php?m=&amp;c=suggest&amp;a=index">意见建议</a>
		</div>
		<div class="txt">

			联系地址：武汉市武昌区中南路14号发展大厦       联系电话：027-87257676<br>

			Copyright © 2017 湖北省人才网  All Right Reserved      鄂ICP备13005602号-1
		</div>
	</div>

	<div class="">
		<div class=""></div>
	</div>
	<!--[if lt IE 9]>
		<script type="text/javascript" src="/Application/Home/View/default/public/js/PIE.js"></script>
	  <script type="text/javascript">
		(function($){
			$.pie = function(name, v){
				// 如果没有加载 PIE 则直接终止
				if (! PIE) return false;
				// 是否 jQuery 对象或者选择器名称
				var obj = typeof name == 'object' ? name : $(name);
				// 指定运行插件的 IE 浏览器版本
				var version = 9;
				// 未指定则默认使用 ie10 以下全兼容模式
				if (typeof v != 'number' && v < 9) {
					version = v;
				}
				// 可对指定的多个 jQuery 对象进行样式兼容
				if ($.browser.msie && obj.size() > 0) {
					if ($.browser.version*1 <= version*1) {
						obj.each(function(){
							PIE.attach(this);
						});
					}
				}
			}
		})(jQuery);
		if ($.browser.msie) {
		  $.pie('.pie_about');
		};
	  </script>
	<![endif]-->
	<script type="text/javascript" src="/Application/Home/View/default/public/js/jquery.disappear.tooltip.js"></script><div class="disappear_tooltip pie_about" style="left: 911.5px; top: 189.5px;"><div class="icon"></div><div class="content"></div></div>
	<div class="floatmenu">
		<div class="item mobile">
			<a class="blk"></a>
			<div class="popover popover1">
				<div class="popover-bd">
					<label>手机APP</label>
					<span class="img-qrcode img-qrcode-mobile"><img src="/index.php?m=home&amp;c=qrcode&amp;a=index&amp;url=" alt=""></span>
				</div>
			</div>
			<div class="popover">
				<div class="popover-bd">
					<label class="wx">企业微信</label>
					<span class="img-qrcode img-qrcode-wechat"><img src="/data/upload/resource/weixin_img.jpg" alt=""></span>
				</div>
				<div class="popover-arr"></div>
			</div>
		</div>
		<div class="item ask">
			<a class="blk" target="_blank" href="/index.php?m=&amp;c=suggest&amp;a=index"></a>
		</div>
		<div id="backtop" class="item backtop" style="display: none;"><a class="blk"></a></div>
	</div>
	<script language="JavaScript">

		var global = {
			h: $(window).height(),
			st: $(window).scrollTop(),
			backTop: function () {
				global.st > (global.h * 0.5) ? $("#backtop").show() : $("#backtop").hide();
			}
		}
		$('#backtop').on('click', function () {
			$("html,body").animate({ "scrollTop": 0 }, 500);
		});
		global.backTop();
		$(window).scroll(function () {
			global.h = $(window).height();
			global.st = $(window).scrollTop();
			global.backTop();
		});
		$(window).resize(function () {
			global.h = $(window).height();
			global.st = $(window).scrollTop();
			global.backTop();
		})
	</script>
	<script type="text/javascript" src="/Application/Home/View/default/public/js/jquery.login.js"></script>
	<script src="/Application/Home/View/default/public/js/members/jquery.common.js" type="text/javascript" language="javascript"></script>
	<script src="http://static.geetest.com/static/tools/gt.js"></script>

	<div id="geetest_1490161538608" class="gt_holder gt_popup" style="touch-action: none;"><div class="gt_mask"></div><div class="gt_popup_wrap"><div class="gt_popup_header"><div class="gt_popup_ready">请先完成下方验证</div><div class="gt_popup_finish">页面将在2秒后跳转</div><div class="gt_popup_cross"></div></div><div class="gt_popup_box"><div class="gt_widget"><div class="gt_holder_top"></div><div class="gt_box_holder" style="height: 116px;"><div class="gt_box"><div class="gt_loading"><div class="gt_loading_icon"></div><div class="gt_loading_text">加载中...</div></div><a class="gt_bg gt_show" style="background-image: none;"><div class="gt_cut_bg gt_show"><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -157px -58px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -145px -58px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -265px -58px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -277px -58px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -181px -58px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -169px -58px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -241px -58px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -253px -58px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -109px -58px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -97px -58px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -289px -58px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -301px -58px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -85px -58px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -73px -58px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -25px -58px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -37px -58px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -13px -58px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -1px -58px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -121px -58px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -133px -58px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -61px -58px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -49px -58px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -217px -58px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -229px -58px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -205px -58px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -193px -58px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -145px 0px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -157px 0px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -277px 0px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -265px 0px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -169px 0px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -181px 0px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -253px 0px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -241px 0px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -97px 0px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -109px 0px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -301px 0px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -289px 0px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -73px 0px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -85px 0px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -37px 0px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -25px 0px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -1px 0px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -13px 0px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -133px 0px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -121px 0px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -49px 0px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -61px 0px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -229px 0px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -217px 0px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -193px 0px;"></div><div class="gt_cut_bg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/bg/8ec51e4a4.webp&quot;); background-position: -205px 0px;"></div></div><div class="gt_slice gt_show" style="left: 0px; background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/slice/8ec51e4a4.png&quot;); width: 61px; height: 45px; top: 71px;"></div></a><a class="gt_fullbg gt_show" style="cursor: default; background-image: none;"><div class="gt_cut_fullbg gt_show"><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -157px -58px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -145px -58px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -265px -58px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -277px -58px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -181px -58px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -169px -58px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -241px -58px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -253px -58px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -109px -58px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -97px -58px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -289px -58px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -301px -58px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -85px -58px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -73px -58px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -25px -58px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -37px -58px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -13px -58px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -1px -58px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -121px -58px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -133px -58px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -61px -58px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -49px -58px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -217px -58px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -229px -58px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -205px -58px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -193px -58px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -145px 0px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -157px 0px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -277px 0px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -265px 0px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -169px 0px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -181px 0px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -253px 0px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -241px 0px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -97px 0px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -109px 0px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -301px 0px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -289px 0px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -73px 0px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -85px 0px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -37px 0px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -25px 0px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -1px 0px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -13px 0px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -133px 0px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -121px 0px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -49px 0px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -61px 0px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -229px 0px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -217px 0px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -193px 0px;"></div><div class="gt_cut_fullbg_slice" style="background-image: url(&quot;http://static.geetest.com/pictures/gt/26ebd36a0/26ebd36a0.webp&quot;); background-position: -205px 0px;"></div></div><div class="gt_flash" style="height: 94px;"></div><div class="gt_ie_success"></div></a><a class="gt_curtain gt_hide" style="background-image: none;"><div class="gt_curtain_bg_wrap"><div class="gt_curtain_bg"><div class="gt_cut_curtain"></div></div></div><div class="gt_curtain_button gt_hide"></div></a><a class="gt_box_tips" style="display: none;"></a></div><div class="gt_info"><div class="gt_info_tip"><div class="gt_info_icon"></div><div class="gt_info_text"></div></div></div></div><div class="gt_bottom"><a class="gt_refresh_button"><div class="gt_refresh_tips">刷新验证</div></a><a class="gt_help_button" href="" target="_blank"><div class="gt_help_tips">帮助反馈</div></a><a class="gt_logo_button" href="http://www.geetest.com/first_page" target="_blank"></a></div></div><div class="gt_slider"><div class="gt_guide_tip gt_show">按住左边滑块，拖动完成上方拼图</div><div class="gt_slider_knob gt_show" style="left: 0px;"></div><div class="gt_curtain_tip gt_hide">点击上图按钮并沿道路拖动到终点处</div><div class="gt_curtain_knob gt_hide">移动到此开始验证</div><div class="gt_ajax_tip gt_ready"></div></div></div></div></div>
