@{
	ViewBag.Title = "高端人才系统";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>优青网</title>
</head>
<link href="~/Content/assets/css/common.css" rel="stylesheet" />
<link href="~/Content/assets/css/home/index.css" rel="stylesheet" />

<!--logo通栏-->
<div class="index_head">
	<div class="logobox">
		<a href="javascript:void(0)"><img src="/Content/assets/img/logo.gif" border="0"></a>
	</div>
	<div class="sobox">
		<div class="inputbg">
			<div class="selecttype J_hoverbut">搜职位</div>
			<div class="selecttype_down">
				<div class="down_list J_hoverbut" data-type="QS_resumelist">搜简历</div>
			</div>
			<input type="hidden" value="QS_jobslist">
			<div class="inoputbox"><input name="" type="text" value=""></div>
			<input type="button" class="sobut J_hoverbut" value="搜索">
		</div>
		<div class="righttxt link_gray6">
			<a href="javascript:void(0)">分类搜索</a>
			<a href="javascript:void(0)" class="map">地图找工作</a>
		</div>
	</div>
	<div class="mob">
		<img src="/Content/assets/img/115.png" border="0">
	</div>
	<div class="clear"></div>
</div>

<div class="index_nav_bg">
	<div class="index_nav">
		<ul class="link_gray6 nowrap">
			<li class="nli J_hoverbut select"><a href="/" target="_self">首  页</a></li>
			<li class="nli J_hoverbut "><a href="/jobs/list" target="_self">找工作</a></li>
			<li class="nli J_hoverbut "><a href="javascript:void(0)" target="_self">招人才</a></li>
			<li class="nli J_hoverbut "><a href="javascript:void(0)" target="_self">HR工具箱</a></li>
			<li class="nli J_hoverbut "><a href="javascript:void(0)" target="_self">职场资讯</a></li>
			<li class="nli J_hoverbut "><a href="javascript:void(0)" target="_self">会员中心</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
<!-- -->
<div class="index_1">
	<div class="leftlogin">
		<div class="shadowbg pie_about">
			<!--未登录 -->
			<div class="login">
				<div class="lontit">
					<span class="switch_txt active">会员登录</span>
					<span class="switch_txt">手机动态码登录</span>
					<div class="switch_account link_blue" data-index="0"><a href="javascript:;">切换为账号登录</a></div>
				</div>
				<div class="type_box active">
					<div class="errbox J_errbox"></div>
					<div class="j_mob_show">
						<div class="inputbox"><input name="username" type="text" value="" placeholder="请输入邮箱/用户名/手机号" class="input"></div>
						<div class="inputbox"><input name="password" type="password" value="" placeholder="请输入密码" class="input J_loginword"></div>
						<div class="memorybox">
							<div class="memory"><label><input name="expire" class="J_expire" type="checkbox" value="0"> 自动登录</label></div>
							<div class="getpwd link_yellow">
								<a href="javascript:void(0)">忘记密码？</a>
							</div>
							<div class="clear"></div>
						</div>
						<div class="inputbox">
							<input type="button" value="立即登录" class="index_login_btn">
						</div>
						<div class="apptit">
							<div class="t">
								使用合作账号登录
							</div>
							<div class="clear"></div>
						</div>
						<div class="appsparent">
							<div class="apps">
								<a class="ali sina" href="javascript:void(0)" title="新浪微博账号登录"></a>
								<a class="ali qq" href="javascript:void(0)" title="腾讯QQ账号登录"></a>
								<a class="ali taobao" href="javascript:void(0)" title="淘宝账号登录"></a>
							</div>
						</div>
						<div class="btns">
							<a class="addbut a1" href="javascript:void(0)">发布职位</a>
							<a class="addbut a2" href="javascript:void(0)">填写简历</a>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="type_box">
					<div class="errbox J_errbox"></div>
					<div class="j_mob_show">
						<div class="inputbox"><input name="mobile" type="text" value="" placeholder="请输入手机号" class="input"></div>
						<div class="inputbox">
							<input name="verfy_code" type="text" value="" placeholder="请输入手机验证码" class="J_loginword input code">
							<input type="button" value="获取验证码" class="index_login_btn_code">
						</div>
						<div class="memorybox">
							<div class="memory">
								<label>
									<input name="expire_obile" class="J_expire" type="checkbox" value="0"> 自动登录
								</label>
							</div>
							<div class="getpwd link_yellow">
								<a href="javascript:void(0)">忘记密码？</a>
							</div>
							<div class="clear"></div>
						</div>
						<div class="inputbox">
							<input type="button" value="立即登录" class="index_login_btn">
						</div>
						<div class="apptit">
							<div class="t">其他账户登录</div>
							<div class="t link_blue last"></div>
							<div class="clear"></div>
						</div>
						<div class="appsparent">
							<div class="apps">
								<a class="ali sina" href="javascript:void(0)" title="新浪微博账号登录"></a>
								<a class="ali qq" href="javascript:void(0)" title="腾讯QQ账号登录"></a>
								<a class="ali taobao" href="javascript:void(0)" title="淘宝账号登录"></a>
							</div>
						</div>
						<div class="btns">
							<a class="addbut a1" href="javascript:void(0)">发布职位</a>
							<a class="addbut a2" href="javascript:void(0)">填写简历</a>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<input type="button" style="display:none;"><input type="button" style="display:none;">
			</div>
		</div>
	</div>
	<div class="rben">
		<div class="wrapper">
			<div class="slider-wrapper theme-default">
				<div class="rbanner nivoSlider" style="position: relative; background: url(/Content/assets/img/default_ad.png) no-repeat;">
					<img src="/Content/assets/img/default_ad.png" style="display: none;">
					<div class="nivo-caption" style="display: none; opacity: 0.8;">

					</div>
					<div class="nivo-directionNav" style="display: none;">
						<a class="nivo-prevNav" style="top: 100px;">Prev</a><a class="nivo-nextNav" style="top: 100px;">Next</a>
					</div><div class="nivo-controlNav" style="left: 287.5px;">
						<a class="nivo-control active" style="margin-right: 0px;">1</a>
					</div>
				</div>
			</div>
		</div>
		<div class="emerb">
			<div class="emerico"></div>
			<div class="more link_gray9"><a href="javascript:void(0)">更多&gt;</a></div>
			<div class="slide">
			</div>
		</div>
		<!--广告位 -->
		<div class="ban_bot_ads">
		</div>
		<!-- -->
		<!--公告 -->
		<div class="notices">
			<div class="noticestab">
				<div class="tli select">公告</div>
				<div class="clear"></div>
			</div>
			<div class="notice_showtabs first">
				<ul class="link_gray6"></ul>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
<div class="index_4">
	<div class="nleft">
		<div class="ntit">
			<div class="lt">名企招聘</div>
			<div class="rt no_change link_gray6"><a target="_blank" href="javascript:void(0)">我也要出现在这里</a></div>
			<div class="clear"></div>
		</div>
		<div class="vipjobs">
			<div class="clear"></div>
		</div>
	</div>
	<div class="nright">
		<div class="ntit">
			<div class="lt">本周热门职位</div>
			<div class="rt txt_right link_gray6">
				<a href="javascript:void(0)" target="_blank">更多&gt;</a>
			</div>
			<div class="clear"></div>
		</div>
		<div class="hotjobs">
		</div>
		<!--轮番广告位 -->
		<div class="wrapper">
			<div class="slider-wrapper theme-default">
				<div class="ad300_175 nivoSlider" style="position: relative; background: url(&quot;undefined&quot;) no-repeat;">
					<div class="nivo-caption" style="display: none; opacity: 0.8;">
					</div>
					<div class="nivo-directionNav" style="display: none;">
						<a class="nivo-prevNav" style="top: 57.5px;">Prev</a>
						<a class="nivo-nextNav" style="top: 57.5px;">Next</a>
					</div>
					<div class="nivo-controlNav" style="left: 150px;"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="index_5 J_change_parent">
	<div class="ntit">
		<div class="lt">最新招聘</div>
		<div class="rt"><div class="refreshbtn J_change_batch">换一批</div></div>
		<div class="clear"></div>
	</div>
	<div class="jobs">
		<div class="ajax_loading"><div class="ajaxloadtxt"></div></div>
		<div class="J_change_result">
			<div class="jli j1">
				<div class="jcom_name_box link_gray6">
					<a class="line_substring" href="javascript:void(0)" target="_blank">测试公司</a>
					<div class="clear"></div>
				</div>
				<div class="jobs_gourp link_gray6">
					<a target="_blank" href="javascript:void(0)" class="a_job">测试工作账号】</a>
					<div class="clear">

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="J_change_parent">
	<div class="index_6">
		<div class="ntit">
			<div class="lt">推荐简历</div>
			<div class="rt"><div class="refreshbtn J_change_batch">换一批</div></div>
			<div class="clear"></div>
		</div>
	</div>

	<div class="index_6_p">
		<div class="ajax_loading"><div class="ajaxloadtxt"></div></div>
		<div class="J_change_result">
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="index_7">
	<div class="ntit">
		<div class="lt">新闻资讯</div>
		<div class="rt link_gray6"><a href="javascript:void(0)" target="_blank">更多&gt;</a></div>
		<div class="clear"></div>
	</div>
	<div class="nl">
		<div class="topnavbg">
			<div class="topnav">
				<div class="J_news_list_title tl select" c>职业指导</div>
				<div class="J_news_list_title tl">简历指南</div>
				<div class="J_news_list_title tl " c>面试宝典</div>
				<div class="J_news_list_title tl " c>职场八卦</div><div class="J_news_list_title tl " c>劳动法苑</div>
				<div class="J_news_list_title tl " c>职场观察</div>
				<div class="clear"></div>
			</div>
		</div>
		<!--ajax加载 -->
		<div class="newsbox J_news_content">
			<div class="ajax_loading"><div class="ajaxloadtxt"></div></div>
			<div class="J_news_txt">
				<div class="imgnews">
					<div class="imgs">
						<a href="" target="_blank">
							<img src="" border="0">
						</a>
					</div>
					<div class="txt substring link_yellow">
						<a href="" target="_blank"></a>
					</div>
				</div>
				<div class="txtnews link_gray6">
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>

	<div class="nr">
		<div class="newstab">
			<div class="newstli select">热点资讯</div>
			<div class="newstli">焦点新闻</div>
			<div class="clear"></div>
		</div>
		<div class="news_showtabs show link_gray6">
		</div>
		<div class="news_showtabs show link_gray6" style="display:none">
		</div>
	</div>
	<div class="clear"></div>
</div>


<div class="foot_lab_bg">
	<div class="foot_lab">
		<div class="ylist y1">快速入职</div>
		<div class="ylist y2">隐私保护</div>
		<div class="ylist y3">薪资透明</div>
		<div class="ylist y4">信息可靠</div>
		<div class="ylist y5">手机找工作</div>
		<div class="clear"></div>
	</div>
</div>
<div class="foot link_gray9">
	<div class="service">
		<div class="tel">000-00000000</div>
		<div class="txt">客服热线(服务时间：09:00-19:00)</div>
	</div>


	<div class="about">
		<div class="atit">关于我们</div>
		<a target="_blank" href="javascript:void(0)">招贤纳士</a><br>
		<a target="_blank" href="javascript:void(0)">联系我们</a>
		<br><a target="_blank" href="javascript:void(0)">推广合作</a><br>
		<a target="_blank" href="javascript:void(0)">法律申明</a>
		<br>
	</div>
	<div class="about last">
		<div class="atit">帮助中心</div>
		<a target="_blank" href="javascript:void(0)">求职指南</a><br>
		<a target="_blank" href="javascript:void(0)">招聘帮助</a><br>
		<a target="_blank" href="javascript:void(0)">找回密码</a><br>
		<a target="_blank" href="javascript:void(0)">意见建议</a>
	</div>
	<div class="about">
		<div class="atit">个人求职</div>
		<a target="_blank" href="javascript:void(0)">找工作</a><br>
		<a target="_blank" href="javascript:void(0)">创建简历</a><br>
		<a target="_blank" href="javascript:void(0)">名企招聘</a><br>
		<a target="_blank" href="javascript:void(0)">职场资讯</a>
	</div>
	<div class="about">
		<div class="atit">企业招聘</div>
		<a target="_blank" href="javascript:void(0)">招人才</a><br>
		<a target="_blank" href="javascript:void(0)">发布职位</a><br>
		<a target="_blank" href="javascript:void(0)">招聘服务</a><br>
		<a target="_blank" href="javascript:void(0)">HR工具箱</a>
	</div>


	<div class="code"><img src="/Content/assets/img/weixin_img.jpg"></div>
	<div class="clear"></div>
</div>




<div class="foottxt link_gray9 font_gray9">
	联系地址：00省00市00路00号0大厦00楼 联系电话：000-00000000 网站备案：icp000000000<br>

	Copyright © 2016 74cms.com All Right Reserved <br>

	Powered by uqing<br>

</div>
<div class="floatmenu">
	<div class="item mobile">
		<a class="blk"></a>
		<div class="popover popover1">
			<div class="popover-bd">
				<label>手机APP</label>
				<span class="img-qrcode img-qrcode-mobile"><img src="" alt=""></span>
			</div>
		</div>
		<div class="popover">
			<div class="popover-bd">
				<label class="wx">企业微信</label>
				<span class="img-qrcode img-qrcode-wechat">
					<img src="/Content/assets/img/weixin_img.jpg" alt="">
				</span>
			</div>
			<div class="popover-arr"></div>
		</div>
	</div>
	<div class="item ask">
		<a class="blk" target="_blank" href="javascript:void(0)"></a>
	</div>
	<div class="item backtop" style="display: none;"><a class="blk"></a></div>
</div>

<div class="disappear_tooltip pie_about" style="left: 911.5px; top: 284px;">
	<div class="icon"></div>
	<div class="content"></div>
</div>

<div>
	<div class="gt_input">
		<input class="geetest_challenge" type="hidden" name="geetest_challenge">
		<input class="geetest_validate" type="hidden" name="geetest_validate">
		<input class="geetest_seccode" type="hidden" name="geetest_seccode">
	</div>
</div>

