/*顶部搜索*/
.page_so{width:1200px;margin:0 auto;background-image:url(/Content/assets/img/131.jpg);background-repeat:no-repeat;background-position:center bottom;}
.page_so.indexpage{height:170px;}
.page_so .sobox{width:800px;padding-top:40px;padding-left:280px;height:80px;}
.page_so .sobox .selecttype{width:500px;font-size:12px;}
.page_so .sobox .selecttype .sli{float:left;height:20px;padding-left:15px;padding-right:15px;padding-top:5px;border-radius:6px 6px 0px 0px;margin-right:7px;background-color:#FEEFD1;cursor:pointer}
.page_so .sobox .selecttype .sli.select{background-color:#FF6600;color:#FFFFFF;cursor:auto}
.page_so .sobox .inputbg{width:600px;height:40px;border:2px #FF6600 solid;position:relative;float:left;background-color:#FFFFFF;border-radius:0px 6px 6px 6px;}
.page_so .sobox .inputbg .selecttype{width:50px;height:40px;line-height:40px;background-color:#F9F9F9;border-left:1px #dddddd solid;padding-left:15px;padding-right:23px;background-image:url(/Content/assets/img/17.png);background-repeat:no-repeat;background-position:right -90px;position:absolute;right:80px;top:0px;cursor:pointer;text-align:center;overflow:hidden;}
.page_so .sobox .inputbg .selecttype.hover{background-color:#FFFFFF}
.page_so .sobox .inputbg .inoputbox{position:absolute;left:0px;top:0px;width:200px;height:34px;}
.page_so .sobox .inputbg .inoputbox input{width:415px;height:30px;line-height:30px;border:0px;padding-top:5px;padding-left:10px;}
.page_so .sobox .inputbg .sobut{background-color:#FF6600;font-size:16px;text-align:center;position:absolute;right:-1px;top:0px;width:81px;height:40px;line-height:40px;border:0px;color:#FFFFFF;cursor:pointer;border-radius:0px 3px 3px 0px;}
.page_so .sobox .inputbg .sobut.hover{background-color:#FE7301}
.page_so .sobox .righttxt{float:left;padding-left:20px;font-size:12px;margin-top:14px;width:150px;}
.page_so .sobox .righttxt a.map{padding-left:36px;background-image:url(/Content/assets/img/109.png);background-repeat:no-repeat;background-position:18px -110px;}
.page_so .hotword{width:710px;padding-left:290px;overflow:hidden}
.page_so .hotword a{padding-right:15px;}

/*招聘首页-全部职位*/
.allclass{width:1198px;margin:0 auto;border:1px #EEEEEE solid}
.allclass .tit{border-bottom:1px #EEEEEE solid;height:46px;line-height:46px;padding-left:30px;color:#333333;background-color:#F9F9F9}
.allclass .al{float:left;width:230px;}
.allclass .al li{height:44px;line-height:44px;color:#333333;padding-left:40px;padding-right:10px;cursor:pointer;background-image:url(/Content/assets/img/113.png);background-repeat:no-repeat;position:relative;border-bottom:1px #EEEEEE solid;border-right:1px #EEEEEE solid;width:179px;background-color:#F9F9F9}
.allclass .al li.hover{background-image:url(/Content/assets/img/135.png);color:#FF6600;padding-left:50px;width:170px;border-right-width:0px;background-color:#FFFFFF}
.allclass .al li.select{background-image:url(/Content/assets/img/135.png);color:#FF6600;padding-left:50px;width:170px;border-right-width:0px;background-color:#FFFFFF}
.allclass .al li.c1{background-position:15px 2px;}
.allclass .al li.c1.hover{background-position:25px 2px;}
.allclass .al li.c1.select{background-position:25px 2px;}
.allclass .al li.c2{background-position:15px -38px;}
.allclass .al li.c2.hover{background-position:25px -38px;}
.allclass .al li.c3{background-position:15px -78px;}
.allclass .al li.c3.hover{background-position:25px -78px;}
.allclass .al li.c4{background-position:15px -118px;}
.allclass .al li.c4.hover{background-position:25px -118px;}
.allclass .al li.c5{background-position:15px -158px;}
.allclass .al li.c5.hover{background-position:25px -158px;}
.allclass .al li.c6{background-position:15px -198px;}
.allclass .al li.c6.hover{background-position:25px -198px;}
.allclass .al li.c7{background-position:15px -238px;}
.allclass .al li.c7.hover{background-position:25px -238px;}
.allclass .al li.c8{background-position:15px -278px;}
.allclass .al li.c8.hover{background-position:25px -278px;}
.allclass .al li.c9{background-position:15px -318px;}
.allclass .al li.c9.hover{background-position:25px -318px;}
.allclass .al li.c10{background-position:15px -358px;}
.allclass .al li.c10.hover{background-position:25px -358px;}
.allclass .ar{float:left;width:968px;position:relative}
.allclass .ar .main{width:950px;left:0px;top:0px;position:absolute;padding-top:10px;}
.allclass .ar .main .rtit{font-size:14px;height:25px;padding-left:30px;font-weight:bold}
.allclass .ar .main .rtxt{font-size:14px;padding-left:30px;}
.allclass .ar .main .rtxt a{display:block;margin-right:25px;margin-bottom:10px;white-space:nowrap;float:left}
.allclass_1{width:1198px;margin:0 auto;border:1px #EEEEEE solid;}
.allclass_1 .list{border-bottom:1px #EEEEEE solid}
.allclass_1 .list:hover{background-color:#F9F9F9;}
.allclass_1 .list:hover  .t a{ color: #FF3300}
.allclass_1 .list .ll{float:left;width:230px;}
.allclass_1 .list .ll .t{padding-top:15px;padding-left:30px;padding-bottom:15px;}
.allclass_1 .list .lr{float:left;width:968px;padding-top:15px;padding-bottom:5px;}
.allclass_1 .list .lr a{display:block;margin-right:25px;margin-bottom:10px;white-space:nowrap;float:left}

/*搜索条件*/
.so_condition_show{width:1200px;margin:0 auto;height:35px;border-bottom:1px #EEEEEE solid}
.so_condition_show .showbtn{width:90px;height:34px;line-height:34px;float:right;border:1px #EEEEEE solid;border-bottom-width:0px;background-image:url(/Content/assets/img/130.png);background-repeat:no-repeat;background-position:80px -18px;padding-left:15px;cursor:pointer;border-radius:6px 6px 0px 0px;}
.so_condition_show .showbtn.unfold{background-position:80px -63px;}
.so_condition_show .showbtn:hover{background-color:#FEEFD1;border-color:#FF6600;color:#FF6600;}
.so_condition_show .showbtn.none{display:none;}
.so_condition{width:1198px;margin:0 auto;border:1px #eeeeee solid;border-top-width:0px;padding-top:10px;padding-bottom:15px;}
.so_condition .lefttit{width:90px;padding-right:15px;float:left;text-align:right;padding-top:8px;margin-top:15px;}
.so_condition .rs{width:1010px;margin-top:15px;float:left}
.so_condition .rs a{color:#333333;text-decoration:none}
.so_condition .rs a:hover{color:#FF6600}
.so_condition .rs .wli{width:143px;height:28px;line-height:28px;float:left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;margin-top: 5px;}
.so_condition .rs .wli.select a{color:#FF6600;font-weight:bold}
.so_condition .rs .li{padding-left:10px;padding-right:10px;height:26px;line-height:26px;float:left;border:1px #FFFFFF  solid;background-color:#FFFFFF;margin-right:8px;border-radius:3px; margin-top:5px;}
.so_condition .rs .li:hover{border:1px #B4B4B4  solid;background-color:#F7F7F7}
.so_condition .rs .li.select{border:1px #FF6600  solid;background-color:#FFF7EE}
.so_condition .rs .li.select a{color:#FF6600;}
.so_condition .rs .bli{padding-left:13px;padding-right:27px;height:30px;line-height:30px;float:left;border:1px #E7E7E7  solid;background-color:#FFFFFF;margin-right:15px;cursor:pointer;background-image:url(/Content/assets/img/130.png);background-repeat:no-repeat;background-position:76px -65px;border-radius:3px;width:60px;white-space:nowrap;text-overflow:ellipsis;margin-top: 3px;}
.so_condition .rs .bli .txt{display:block;_height:28px;white-space:nowrap;_white-space:normal;_background:transparent;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.so_condition .rs .bli:hover{border:1px #B4B4B4  solid;color:#333333;}
.so_condition .more{width:83px;float:left;margin-top:15px;}
.so_condition .more .mbtn{width:45px;height:23px;padding-left:12px;line-height:23px;border:1px  #E6E6E6 solid;border-radius:20px;font-size:12px;cursor:pointer;background-position:39px -149px;background-image:url(/Content/assets/img/130.png);background-repeat:no-repeat;}
.so_condition .more .mbtn.none{display:none;}
.so_condition .more .mbtn.close{background-position:39px -114px}
.so_condition .more .mbtn:hover{border:1px #999999 solid;color:#333333;background-color:#F5F5F5}
.so_condition .rs_classify{width:1093px;margin-top:15px;float:left}
.so_condition .rs_classify .wli_y{padding-left:10px;padding-right:28px;height:30px;line-height:30px;float:left;margin-right:15px;border-radius:3px;border:1px #FF6600  solid;background-color:#FFF7EE;cursor:pointer;background-image:url(/Content/assets/img/130.png);background-repeat:no-repeat;background-position:right -174px;color:#FF6600;}
.so_condition .rs_classify .wli_y:hover{background-color:#FFFFFF}
.so_condition .rs_classify .showclassify{width:1040px;border:1px #FF6600 solid;margin-top:17px;border-radius:5px;padding-left:20px;padding-top:15px;padding-bottom:15px;background-color:#FFFBFB;position:relative;}
.so_condition .rs_classify .showclassify .toparrow{position:absolute;left:50px;top:-10px;width:14px;height:10px;background-image:url(/Content/assets/img/130.png);background-repeat:no-repeat;background-position:0px -273px;}
.so_condition .rs_classify .showclassify a{color:#333333;text-decoration:none}
.so_condition .rs_classify .showclassify a:hover{color:#FF6600}
.so_condition .rs_classify .showclassify .wli{width:143px;height:28px;line-height:28px;float:left;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.so_condition .rs_classify .showclassify .wli.select a{color:#FF6600;font-weight:bold}
.so_condition .selected{width:1198px;border-top:1px #eeeeee solid;margin-top:20px;display:none;}
.so_condition .selected .stit{width:90px;padding-right:15px;float:left;text-align:right;padding-top:3px;margin-top:18px;}
.so_condition .selected .sc{width:1010px;float:left;}
.so_condition .selected .sc .slist{padding-left:10px;padding-right:28px;height:30px;line-height:30px;float:left;margin-right:15px;border-radius:3px;border:1px #FF6600  solid;background-color:#FFF7EE;cursor:pointer;background-image:url(/Content/assets/img/130.png);background-repeat:no-repeat;background-position:right -174px;color:#FF6600;margin-top:15px;}
.so_condition .selected .sc .slist:hover{background-color:#FFFFFF}
.so_condition .selected .sc .slist span{color:#333333}
.so_condition .selected .sr{width:83px;float:left;margin-top:18px;}
.so_condition .selected .sr .empty{width:37px;height:25px;padding-left:28px;line-height:25px;border:1px  #E6E6E6 solid;border-radius:20px;font-size:12px;cursor:pointer;background-position:10px -212px;background-image:url(/Content/assets/img/130.png);background-repeat:no-repeat;}
.so_condition .selected .sr .empty:hover{border:1px #FF6600 solid;background-position:10px -242px;color:#FF6600;background-color:#FFF7EE;}

/*地图搜索*/
.map_box{width:1188px;padding:5px;border:1px #EEEEEE solid;background:#FFFFFF;margin:0 auto;margin-top:30px;position:relative;}
.map_box .conbox{width:1188px;height:400px;}

/*列表表头*/
.plist{width:1200px;margin:0 auto;margin-top:25px;}
.plist .pl{width:970px;float:left}
.plist .pl .toptitle{width:943px;border:1px #EEEEEE solid;position:relative}
.plist .pl .toptitle .ts{width:943px;height:53px;border-bottom:1px #EEEEEE solid}
.plist .pl .toptitle .ts .l1{float:left;width:454px;height:53px;}
.plist .pl .toptitle .ts .l2{float:left;width:130px;height:38px;padding-top:15px;}
.plist .pl .toptitle .ts .l2 .radiobox{margin-top:2px;width:17px;height:17px;float:left;background-position:0px -298px;background-image:url(/Content/assets/img/130.png);background-repeat:no-repeat;}
.plist .pl .toptitle .ts .l2 .radiotxt{float:left;padding-left:7px;width:100px;}
.plist .pl .toptitle .ts .l2 .radio_group {
  cursor:pointer;
}
.plist .pl .toptitle .ts .l2 .radio_group:hover .radiobox{background-position:0px -321px;}
.plist .pl .toptitle .ts .l2 .radio_group:hover .radiotxt{color:#FF6600}
.plist .pl .toptitle .ts .l2.select .radiobox{background-position:0px -321px;}
.plist .pl .toptitle .ts .l2.select .radiotxt{color:#FF6600}
.plist .pl .toptitle .ts .l3{float:left;width:53px;height:53px;border-left:1px #eeeeee solid;background-position:15px -386px;background-image:url(/Content/assets/img/130.png);background-repeat:no-repeat;cursor:pointer}
.plist .pl .toptitle .ts .l3:hover{background-position:15px -342px;background-color:#F9F9F9}
.plist .pl .toptitle .ts .l3.select{background-position:15px -342px;}
.plist .pl .toptitle .ts .l4{float:left;width:53px;height:53px;border-left:1px #eeeeee solid;background-position:15px -468px;background-image:url(/Content/assets/img/130.png);background-repeat:no-repeat;cursor:pointer}
.plist .pl .toptitle .ts .l4:hover{background-position:15px -430px;background-color:#F9F9F9}
.plist .pl .toptitle .ts .l4.select{background-position:15px -430px;}
.plist .pl .toptitle .ts .l5{float:left;width:120px;height:53px;border-left:1px #eeeeee solid;position:relative;text-align:center;color:#666666;line-height:53px;}
.plist .pl .toptitle .ts .l5 span{color:#FF6600}
.plist .pl .toptitle .ts .l5 .prev{width:20px;height:38px;line-height:38px;text-align:center;position:absolute;left:5px;top:8px;color:#999999;cursor:pointer}
.plist .pl .toptitle .ts .l5 .prev:hover{background-color:#F3F3F3;color:#FF6600}
.plist .pl .toptitle .ts .l5 .next{width:20px;height:38px;line-height:38px;text-align:center;position:absolute;right:5px;top:8px;font-size:16px;color:#999999}
.plist .pl .toptitle .ts .l5 .next:hover{background-color:#F3F3F3;color:#FF6600;cursor:pointer}
.plist .pl .toptitle .ltype{position:absolute;left:0px;top:0px;width:400px;}
.plist .pl .toptitle .ltype .typeli{float:left;height:53px;line-height:53px;border-right:1px #EEEEEE solid;padding-left:22px;padding-right:22px;cursor:pointer;font-size: 16px;}
.plist .pl .toptitle .ltype .typeli:hover{color:#FF6600;height:52px;border-bottom:2px #FF6600 solid;}
.plist .pl .toptitle .ltype .typeli.select{color:#FF6600;height:52px;border-bottom:2px #FF6600 solid;}
.plist .pl .toptitle .sort{padding-top:5px;height:40px;padding-top:10px;}
.plist .pl .toptitle .sort .sl1{float:left;width:90px;text-align:right;padding-right:10px;padding-top:3px;}
.plist .pl .toptitle .sort .sl2{float:left;height:24px;line-height:24px;line-height:24px;font-size:12px;margin-right:20px;border:1px #EEEEEE solid;padding-left:12px;padding-right:23px;display:block;text-decoration:none;color:#666666;background-position:right -521px;background-image:url(/Content/assets/img/130.png);background-repeat:no-repeat;border-radius:3px;}
.plist .pl .toptitle .sort .sl2:hover{border:1px #CCCCCC solid;color:#FF6600;background-position:right -543px;}
.plist .pl .toptitle .sort .sl2.select{border:1px #EEEEEE solid;color:#FF6600;background-position:right -543px;}

/*列表内容*/
.plist .pl .listb{width:943px;border:1px #EEEEEE solid;margin-top:10px;}
.plist .pl .listb .yli{width:943px;border-bottom:1px #EEEEEE solid;padding-top:18px;padding-bottom:18px;background-color:#FFFFFF}
.plist .pl .listb .yli:hover{background-color:#FFFDF7;}
.plist .pl .listb .yli.select{background-color:#FFF7DD;}
.plist .pl .listb .yli .td1{width:25px;padding-left:15px;padding-top:2px;}
.plist .pl .listb .yli .td1 .radiobox{margin-top:2px;width:17px;height:17px;float:left;background-position:0px -298px;background-image:url(/Content/assets/img/130.png);background-repeat:no-repeat;cursor:pointer;background-color:#FFFFFF}
.plist .pl .listb .yli .td1 .radiobox:hover{background-position:0px -321px;}
.plist .pl .listb .yli .td1 .radiobox.select{background-position:0px -321px;}
.plist .pl .listb .yli .td2{width:250px;padding-top:1px;font-size:16px;padding-right: 15px;}
.plist .pl .listb .yli .td2 .line_substring{margin-right:5px;float:left;max-width:210px;white-space:nowrap;_white-space:normal;_width:210px;_height:21px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;_background:transparent;}
.plist .pl .listb .yli .td3{width:280px;font-size:16px;padding-right: 15px;display:inline-block;*display:inline;*zoom:1;line-height:21px;}
.plist .pl .listb .yli .td3 img{display:inline-block;*display:inline;*zoom:1;vertical-align:middle}
.plist .pl .listb .yli .td3 a{color:#333333;}
.plist .pl .listb .yli .td3 .line_substring{margin-right:5px;float:left;max-width:210px;white-space:nowrap;_white-space:normal;_width:210px;_height:21px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;_background:transparent;}
.plist .pl .listb .yli .td4{width:180px;font-size:16px;color:#FF6600}
.plist .pl .listb .yli .td5{width:95px;text-align:right;padding-right:15px;}
.plist .pl .listb .yli .td6{width:50px;}
.plist .pl .listb .yli .td6 .hide{width:22px;height:20px;background-position:0px -658px;background-image:url(/Content/assets/img/130.png);background-repeat:no-repeat;cursor:pointer}
.plist .pl .listb .yli .td6 .hide:hover{background-position:0px -620px;}
.plist .pl .listb .yli .td6 .hide.select{background-position:0px -620px;}
.plist .pl .listb .yli .td6 .show{width:22px;height:20px;background-position:0px -701px;background-image:url(/Content/assets/img/130.png);background-repeat:no-repeat;cursor:pointer}
.plist .pl .listb .yli .td6 .show:hover{background-position:0px -578px;}
.plist .pl .listb .yli .td6 .show.select{background-position:0px -578px;}
.plist .pl .listb .yli .detail{width:943px;padding-top:15px;}
.plist .pl .listb .yli .detail .ltx{float:left;width:780px;}
.plist .pl .listb .yli .detail .ltx .txt{padding-left:40px;}
.plist .pl .listb .yli .detail .ltx .txt span{color:#999999;padding-left:10px;padding-right:10px;font-size:10px;}
.plist .pl .listb .yli .detail .ltx .bottxt{padding-left:40px;font-size:12px;padding-top:5px;width:690px;line-height:180%;color:#999999}
.plist .pl .listb .yli .detail .ltx .dlabs{padding-left:40px;margin-top:13px;word-break: break-all;}
.plist .pl .listb .yli .detail .ltx .dlabs .dl{float:left;padding-left:15px;padding-right:15px;border:1px #D4D4D4 solid;background-color:#FFFFFF;margin-right:15px;height:25px;line-height:25px;font-size:12px;border-radius:2px;color:#666666;}
.plist .pl .listb .yli .detail .rbtn{float:left;width:145px;}
.plist .pl .listb .yli .detail .rbtn .deliver{width:80px;height:38px;line-height:38px;color:#FF5C00;border:1px #FF5C00 solid;border-radius:6px;background-position:10px -726px;background-image:url(/Content/assets/img/130.png);cursor:pointer;background-repeat:no-repeat;padding-left:45px;font-size:15px;margin-top:2px;}
.plist .pl .listb .yli .detail .rbtn .deliver:hover{background-position:10px -771px;background-color:#FF5C00;color:#FFFFFF;border:1px #DB4D00 solid}
.plist .pl .listb .yli .detail .rbtn .favorites{width:50px;height:16px;line-height:16px;color:#666666;background-position:18px -826px;background-image:url(/Content/assets/img/130.png);cursor:pointer;background-repeat:no-repeat;padding-left:42px;font-size:12px;margin-left:20px;margin-top:10px;}
.plist .pl .listb .yli .detail .rbtn .favorites:hover{background-position:18px -862px;color:#FF5C00;}

/*列表下方按钮*/
.plist .pl .listbtn{height:50px;padding-top:15px;border-bottom:1px #EEEEEE solid}
.plist .pl .listbtn .td1{width:25px;padding-left:15px;padding-top:5px;}
.plist .pl .listbtn .td1 .radiobox{margin-top:2px;width:17px;height:17px;float:left;background-position:0px -298px;background-image:url(/Content/assets/img/130.png);background-repeat:no-repeat;cursor:pointer;background-color:#FFFFFF}
.plist .pl .listbtn .td1 .radiobox:hover{background-position:0px -321px;}
.plist .pl .listbtn .td1 .radiobox.select{background-position:0px -321px;}
.plist .pl .listbtn .td2{width:400px;}
.plist .pl .listbtn .td2 .lbts{width:80px;height:30px;line-height:30px;text-align:center;float:left;border:1px  #D2D2D2 solid;margin-right:15px;cursor:pointer;border-radius:4px;background-color:#F9F9F9}
.plist .pl .listbtn .td2 .lbts:hover{border:1px #FF6600 solid;color:#FF6600;background-color:#FFFFFF}

/*列表下方推荐*/
.bot_info{width:943px;border:1px #EEEEEE solid;margin-top:15px}
.bot_info  .topnavbg{height:50px;width:943px;border-bottom:1px #eeeeee solid;position:relative;}
.bot_info  .topnav{padding-left:15px;position:absolute;height:51px;left:0px;top:0px;}
.bot_info  .topnav .tl{float:left;padding-left:20px;padding-right:20px;margin-right:10px;height:50px;border-bottom:1px #eeeeee solid;line-height:50px;font-size:16px;cursor:pointer;color:#333333}
.bot_info  .topnav .tl:hover{color:#333333;border-bottom:2px #CCCCCC solid;height:49px;}
.bot_info  .topnav .tl.select{color:#333333;border-bottom:2px #FF5A00 solid;height:49px;}
.bot_info  .showbotinfo{padding-left:20px;padding-bottom:20px;padding-top:15px;display:none;}
.bot_info  .showbotinfo.show{display:block}
.bot_info  .showbotinfo .ili{float:left;width:126px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;height:30px;padding-left:5px;line-height:30px;}

/*列表右侧*/
.plist .pr{width:230px;float:left}
.plist .pr .ad230_175{width:230px;height:175px;margin-bottom: 25px;}
.plist .pr .ad230_175 img{width:230px;height:175px;border:0;margin-bottom:25px;}
.plist .pr .lisbox{width:228px;border:1px #EEEEEE solid;margin-bottom: 25px;}
.plist .pr .lisbox .t{padding-left:20px;font-size:16px;border-bottom:1px #EEEEEE solid;background-color:#F8F8F8;height:46px;line-height:46px;}
.plist .pr .lisbox .yl{border-bottom:1px #EEEEEE solid;width:213px;padding-left:15px;padding-top:15px;padding-bottom:15px;}
.plist .pr .lisbox .yl .pic{width:63px;height:63px;border:1px #eeeeee solid;border-radius:8px;float:left}
.plist .pr .lisbox .yl .pic img{width:63px;height:63px;border-radius:8px;}
.plist .pr .lisbox .yl .txts{width:138px;font-size:12px;float:left;padding-left:10px;}
.plist .pr .lisbox .yl .txts .t1{width:130px;font-size:14px;height:25px;}
.plist .pr .lisbox .yl .txts .t1 a:hover{color:#FF6600;}
.plist .pr .lisbox .yl .txts .t2{width:130px;height:22px;}
.plist .pr .lisbox .yl:hover{background-color:#FFFDFB}
.plist .pr .lisbox .yl:hover .pic{border:1px #CCCCCC solid;}
.plist .pr .lisbox .empty{height:50px;line-height:50px;padding-left:20px;font-size:12px;}
.plist .pr .lisbox .eyl{border-bottom:1px #EEEEEE solid;width:208px;font-size:12px;padding-left:20px;padding-top:10px;padding-bottom:10px;}
.plist .pr .lisbox .eyl .jname{width:115px;float:left;font-size:14px;height:25px;}
.plist .pr .lisbox .eyl .jname a{color:#333333;}
.plist .pr .lisbox .eyl .city{width:78px;float:left;text-align:right;height:28px;}
.plist .pr .lisbox .eyl .etxt{width:193px;height:20px;padding-right: 15px;}
.plist .pr .lisbox .eyl:hover{background-color:#FFFDFB}

/*关键字变色*/
.highlight {color: #FF0000;}

.map_company{height:30px;line-height:30px;border-bottom:1px solid #dfdfdf;}
.map_company a{height:30px;line-height:30px;color:#333;text-decoration:none}
.map_jobs{height:30px;line-height:30px;color:#FF6600;text-decoration:none}
.map_jobs.more{color:#0066CC;font-size:12px;}
.map_company a:hover,.map_jobs:hover{text-decoration:underline}


.comshow{width:1198px;border:1px #EEEEEE solid;margin:0 auto;margin-top:25px;}
.comshow:hover{-moz-box-shadow:0px 0px 10px #E4E4E4;/*firefox*/-webkit-box-shadow:0px 0px 10px #E4E4E4;/*safari鎴朿hrome*/box-shadow:0px 0px 10px #E4E4E4;background-color:#FFFFFF}
.comshow .comlogo{width:140px;height:140px;padding:3px;margin-top:30px;margin-left:30px;margin-bottom:30px;border:1px #EEEEEE solid;float:left;}
.comshow .comlogo img{width:140px;height:140px;border:0px;}
.comshow .cominfo{float:left;width:950px;padding-left:30px;position:relative}
.comshow .cominfo .cname{font-size:20px;height:40px;padding-top:30px;color:#333333;}
.comshow .cominfo .cname *{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;}
.comshow .cominfo .txt{height:30px;}
.comshow .cominfo .txt span{padding-left:10px;padding-right:10px;}
.comshow .cominfo .stat{width:700px;padding-top:15px;}
.comshow .cominfo .stat .li{height:50px;float:left;border-right:1px  #E8E8E8 solid;text-align:center;padding: 0 25px;}
.comshow .cominfo .stat .li.clear_right_border{border-right: none;}
.comshow .cominfo .stat .li .t{font-size:18px;color:#333333;font-weight:bold;height:30px;}
.comshow .cominfo .share{position:absolute;bottom:0px;right:0px;width:230px;}
.comshow .cominfo .share .li{width:28px;height:28px;margin-right:10px;float:left;background-image:url(/Content/assets/img/05.png);background-repeat:no-repeat;cursor:pointer;margin-top:50px;}
.comshow .cominfo .share .li.s1{background-position:0px 0px;}
.comshow .cominfo .share .li.s1:hover{background-position:0px -36px;}
.comshow .cominfo .share .li.s2{background-position:-33px 0px;}
.comshow .cominfo .share .li.s2:hover{background-position:-33px -36px;}
.comshow .cominfo .share .li.s3{background-position:-66px 0px;}
.comshow .cominfo .share .li.s3:hover{background-position:-66px -36px;}
.comshow .cominfo .share .li.s4{background-position:-99px 0px;}
.comshow .cominfo .share .li.s4:hover{background-position:-99px -36px;}
.comshow .cominfo .share .li.s5{background-position:-132px 0px;}
.comshow .cominfo .share .li.s5:hover{background-position:-132px -36px;}
.comshow .cominfo .share .li.s6{background-position:-165px 0px;}
.comshow .cominfo .share .li.s6:hover{background-position:-165px -36px;}
.comshow .cominfo .attention{position:absolute;top:60px;right:0px;width:230px;}
.comshow .cominfo .attention .abtn{cursor:pointer;background-image:url(/Content/assets/img/06.png);background-repeat:no-repeat;background-position:14px 12px;width:44px;padding-left:36px;height:38px;line-height:38px;background-color:#FF6600;color:#FFFFFF;border-radius:6px;float:left}
.comshow .cominfo .attention .abtn.for_cancel{padding-left: 0;width:80px;background-image: none;text-align: center;}
.comshow .cominfo .attention .abtn:hover{background-color:#FF4400;}
.comshow .cominfo .attention .fans{float:left;width:100px;padding-left:20px;height:38px;line-height:38px;}
.comshow .cominfo .attention .fans span{color:#FF6600}


.comshowmain{width:1200px;margin:0 auto;margin-top:25px;}
.comshowmain .l{float:left;width:880px;}
.comshowmain .l .comnav{width:853px;border:1px #EEEEEE solid;height:50px;}
.comshowmain .l .comnav:hover{-moz-box-shadow:0px 0px 10px #E4E4E4;/*firefox*/-webkit-box-shadow:0px 0px 10px #E4E4E4;/*safari鎴朿hrome*/box-shadow:0px 0px 10px #E4E4E4;background-color:#FFFFFF}
.comshowmain .l .comnav a{display:block;text-decoration:none;width:130px;float:left;height:50px;line-height:50px;text-align:center;font-size:16px;color:#333333;}
.comshowmain .l .comnav a span{padding-left:5px;}
.comshowmain .l .comnav a:hover{background-color:#F9F9F9}
.comshowmain .l .comnav a.select{background-color:#FF6600;color:#FFFFFF}
.comshowmain .l .infobox{margin-top:25px;width:853px;border:1px #EEEEEE solid;position:relative;padding-bottom:30px;}
.comshowmain .l .infobox:hover{-moz-box-shadow:0px 0px 10px #E4E4E4;/*firefox*/-webkit-box-shadow:0px 0px 10px #E4E4E4;/*safari鎴朿hrome*/box-shadow:0px 0px 10px #E4E4E4;background-color:#FFFFFF}
.comshowmain .l .infobox .more{position:absolute;right:15px;top:15px;width:100px;height:20px;}
.comshowmain .l .infobox .t{font-size:16px;color:#333333;padding-left:55px;margin-top:15px;background-image:url(/Content/assets/img/07.png);background-repeat:no-repeat;background-position:20px 15px;height:30px;font-weight:bold}
.comshowmain .l .infobox .t.t1{background-position:30px 2px;}
.comshowmain .l .infobox .t.t2{background-position:30px -43px;}
.comshowmain .l .infobox .t.t3{background-position:30px -86px;}
.comshowmain .l .infobox .t.t4{background-position:30px -125px;}
.comshowmain .l .infobox .txt{padding-left:55px;padding-right:40px;line-height:180%;word-break:break-all;}
.comshowmain .l .infobox .lab{padding-left:55px;}
.comshowmain .l .infobox .lab .labsli{padding-left:15px;padding-right:15px;float:left;height:32px;line-height:32px;margin-right:20px;border:1px #EBEBEB solid;border-radius:4px;background-color:#FFFFFF;margin-top:20px;}
.comshowmain .l .infobox .lab .labsli:hover{background-color:#FFFAF0;border:1px #FF6600 solid;color:#FF6600}
.comshowmain .l .infobox .jobs{padding-left:55px;padding-top:10px;}
.comshowmain .l .infobox .jobs .jobsli{width:330px;float:left;margin-right:20px;margin-bottom:20px;padding:5px 15px;background-color:#F9F9F9;}
.comshowmain .l .infobox .jobs .jobsli:hover{background-color:#F7F7F7}
.comshowmain .l .infobox .jobs .jobsli .ljob{width:210px;float:left;height:30px;line-height:30px;_display:inline;max-width:210px;white-space:nowrap;_white-space:normal;_height:30px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;_background:transparent;}
.comshowmain .l .infobox .jobs .jobsli .ljob span{padding-left:10px;}
.comshowmain .l .infobox .jobs .jobsli .rjob{width:120px;float:left;height:30px;line-height:30px;text-align:right}
.comshowmain .l .infobox .jobs .jobsli .rjob.c{color:#FF6600}
.comshowmain .l .infobox .comimg{position:relative;width:100%;}
.comshowmain .l .infobox .comimg .box{overflow:hidden;position:relative;width:760px;_width:780px;height:170px;padding-top:10px;margin:0 auto;}
.comshowmain .l .infobox .comimg .list{overflow:hidden;width:9999px;}
.comshowmain .l .infobox .comimg .list li{float:left;width:170px;height:170px;padding-left:10px;padding-right:10px;background-color:#fff;text-align:center;}
.comshowmain .l .infobox .comimg .list li img{max-width:168px;max-height:168px;cursor: pointer;}
.comshowmain .l .infobox .comimg .plus,.comshowmain .l .infobox .comimg .minus{position:absolute;height:180px;width:30px;background-image:url(/Content/assets/img/07.png);background-repeat:no-repeat;cursor:pointer;top:0px;display:block;}
.comshowmain .l .infobox .comimg .plus{background-position:5px -142px;left:20px;}
.comshowmain .l .infobox .comimg .minus{background-position:5px -363px;right:20px;}
.comshowmain .l .infobox .comimg .plus:hover{background-position:5px -252px;}
.comshowmain .l .infobox .comimg .minus:hover{background-position:5px -472px;}
.comshowmain .l .jobslist{border-bottom:1px #EEEEEE solid;padding-left:30px;padding-top:20px;padding-bottom:10px;position:relative}
.comshowmain .l .jobslist:hover{background-color:#F9F9F9}
.comshowmain .l .jobslist .jname{height:30px;}
.comshowmain .l .jobslist .jname span{padding-left:15px;}
.comshowmain .l .jobslist .jname u{color:#FF6600;text-decoration:none}
.comshowmain .l .jobslist .jtxt{height:30px;}
.comshowmain .l .jobslist .jtxt span{padding-left:10px;color:#CCCCCC;font-size:10px;padding-right:10px;}
.comshowmain .l .jobslist .jtxt u{color:#FF6600;text-decoration:none}
.comshowmain .l .jobslist .jobapp{width:70px;height:34px;line-height:34px;border:1px #FF6600 solid;background-color:#FFFFFF;color:#FF6600;padding-left:35px;border-radius:4px;position:absolute;right:60px;top:26px;cursor:pointer;background-image:url(/Content/assets/img/07.png);background-repeat:no-repeat;background-position:10px -796px;}
.comshowmain .l .jobslist .jobapp:hover{background-color:#FF6600;color:#FFFFFF;background-position:10px -826px;}
.comshowmain .r{float:left;width:320px;}
.comshowmain .r .contact{width:318px;border:1px #EEEEEE solid;padding-bottom:30px;}
.comshowmain .r .contact:hover{-moz-box-shadow:0px 0px 10px #E4E4E4;/*firefox*/-webkit-box-shadow:0px 0px 10px #E4E4E4;/*safari鎴朿hrome*/box-shadow:0px 0px 10px #E4E4E4;background-color:#FFFFFF}
.comshowmain .r .contact .t{font-size:16px;color:#333333;padding-left:45px;margin-top:15px;background-image:url(/Content/assets/img/07.png);background-repeat:no-repeat;background-position:20px -686px;height:30px;font-weight:bold;position: relative;}
.comshowmain .r .contact .t .t_check{position: absolute;top: 0;right: 15px;font-size: 14px;line-height: 22px;font-weight: normal;}
.comshowmain .r .contact .t .t_check .check_btn{width:48px;height:24px;line-height:22px;font-size:14px;color:#FF6600;border:1px #FF6600 solid;border-radius:4px;background-color:#FFFFFF;text-align:center;cursor:pointer;margin-top:0;margin-left:10px;font-size: 12px;}
.comshowmain .r .contact .t .t_check .check_btn:hover{background-color:#FF6600;color:#FFFFFF;}
.comshowmain .r .contact .txt{height:32px;line-height:32px;padding-left:35px;padding-right:30px;margin-top:8px;}
.comshowmain .r .contact .txt .img_cell{display:inline-block;*display:inline;*zoom:1;height:28px;line-height:28px;padding-top: 4px;}
.comshowmain .r .contact .txt .img_cell img{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;}
.comshowmain .r .contact .txt .txt_t{background-color:#F5F5F5;padding:3px 6px;margin-right:20px;line-height:14px;margin-top:6px;width: 28px;text-align: center;}
.comshowmain .r .contact .txt .content_c{max-width:190px;white-space:nowrap;_white-space:normal;_width:190px;_height:32px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;_background:transparent;}

.comshowmain .r .contact .txt .fl{float:left}
.comshowmain .r .contact .txt .line_substring{float:left;max-width:180px;white-space:nowrap;_white-space:normal;_width:180px;_height:32px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;_background:transparent;}
.comshowmain .r .contact .map{width:248px;height:150px;margin:0 auto;border:1px #EEEEEE solid;background-color:#F7F7F7;margin-top:15px;}

.comshowmain .r .famousWrap{width:318px;border:1px #EEEEEE solid;margin-top:20px;}
.comshowmain .r .famousWrap:hover{-moz-box-shadow:0px 0px 10px #E4E4E4;/*firefox*/-webkit-box-shadow:0px 0px 10px #E4E4E4;/*safari鎴朿hrome*/box-shadow:0px 0px 10px #E4E4E4;background-color:#FFFFFF}

.comshowmain .r .weixin{width:318px;border:1px #EEEEEE solid;padding-bottom:30px;margin-top:25px;}
.comshowmain .r .weixin:hover{-moz-box-shadow:0px 0px 10px #E4E4E4;/*firefox*/-webkit-box-shadow:0px 0px 10px #E4E4E4;/*safari鎴朿hrome*/box-shadow:0px 0px 10px #E4E4E4;background-color:#FFFFFF}
.comshowmain .r .weixin .t{font-size:16px;color:#333333;padding-left:45px;margin-top:15px;background-image:url(/Content/assets/img/07.png);background-repeat:no-repeat;background-position:20px -726px;height:30px;font-weight:bold}
.comshowmain .r .weixin .code{width:140px;height:140px;margin:0 auto;border:1px #EEEEEE solid;padding:10px;margin-top:15px;margin-bottom:10px;}
.comshowmain .r .weixin .code img{width:140px;height:140px;}
.comshowmain .r .same{width:318px;border:1px #EEEEEE solid;padding-bottom:15px;margin-top:25px;}
.comshowmain .r .same:hover{-moz-box-shadow:0px 0px 10px #E4E4E4;/*firefox*/-webkit-box-shadow:0px 0px 10px #E4E4E4;/*safari鎴朿hrome*/box-shadow:0px 0px 10px #E4E4E4;background-color:#FFFFFF}
.comshowmain .r .same .t{font-size:16px;color:#333333;padding-left:45px;margin-top:15px;background-image:url(/Content/assets/img/07.png);background-repeat:no-repeat;background-position:20px -758px;height:30px;font-weight:bold}
.comshowmain .r .same .list{padding-left:30px;padding-top:10px;padding-bottom:10px;}
.comshowmain .r .same .list:hover{background-color:#F9F9F9}
.comshowmain .r .same .list .pic{width:63px;height:63px;border-radius:8px;float:left;border:1px #EEEEEE solid}
.comshowmain .r .same .list .pic img{width:63px;height:63px;border-radius:8px;}
.comshowmain .r .same .list .txt{padding-left:15px;padding-top:5px;float:left}
.comshowmain .r .same .list .txt .comname{height:30px;width:180px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.comshowmain .r .same .list .txt .count{height:25px;}
.comshowmain .r .same .list .txt .count span{color:#FF6600;font-weight:bold}

.comshowmain .r .leave_msg{width:318px;border:1px #EEEEEE solid;margin-top:25px;}
.comshowmain .r .leave_msg:hover{-moz-box-shadow:0px 0px 10px #E4E4E4;/*firefox*/-webkit-box-shadow:0px 0px 10px #E4E4E4;/*safari鎴朿hrome*/box-shadow:0px 0px 10px #E4E4E4;background-color:#FFFFFF}
.comshowmain .r .leave_msg .t{font-size:16px;color:#333333;padding-left:45px;margin-top:15px;background-image:url(/Content/assets/img/07.png);background-repeat:no-repeat;background-position:20px -872px;height:30px;font-weight:bold}
.comshowmain .r .leave_msg .msg_textarea{padding:10px 20px;}
.comshowmain .r .leave_msg .msg_textarea textarea{height:80px;border-radius:5px;resize:none;padding:10px;border:1px solid #ededed;width:258px;}
.comshowmain .r .leave_msg .send_btn_group{margin-top:42px;position:relative;}
.comshowmain .r .leave_msg .send_btn_group .send_btn{position:absolute;top:-40px;right:20px;width:74px;height:26px;line-height:26px;text-align:center;border-radius:3px;background:#FF6600;color:#fff;cursor:pointer;}
.comshowmain .r .leave_msg .send_btn_group .send_btn:hover{background:#FF4400;}


.jobsshow{margin:0 auto;margin-top:25px;width:1200px;}
.jobsshow .l{float:left;width:880px;}
.jobsshow .l .main{width:853px;border:1px #EEEEEE solid;}
.jobsshow .l .main .jobstit{width:853px;background-color:#F7F7F7;border-bottom:1px #CCCCCC  dashed;position:relative}
.jobsshow .l .main .jobstit .rightbg{width:27px;height:27px;background-image:url(/Content/assets/img/01.png);background-repeat:no-repeat;top:-1px;right:-1px;position:absolute}
.jobsshow .l .main .jobstit .time{width:190px;height:80px;top:30px;right:0px;position:absolute;font-size:12px;}
.jobsshow .l .main .jobstit .time .timebg{float:left;padding-left:20px;padding-right:20px;height:20px;background-image:url(/Content/assets/img/01.png);background-repeat:no-repeat;background-position:0px -35px;padding-top:2px;}
.jobsshow .l .main .jobstit .time .timebg.viewbg{background-position:0px -63px;}
.jobsshow .l .main .jobstit .jobname{font-size:28px; padding:15px 200px 0px 40px;color:#333333;}
.jobsshow .l .main .jobstit .wage{height:53px;line-height:53px;font-size:20px;color:#FF6600;background-image:url(/Content/assets/img/01.png);background-repeat:no-repeat;background-position:40px -78px;padding-left:75px;}
.jobsshow .l .main .jobstit .lab{padding-left:40px;}
.jobsshow .l .main .jobstit .lab .li{float:left;padding-left:12px;padding-right:12px;height:30px;border:1px #D7D7D7 solid;line-height:30px;border-radius:4px;background-color:#FFFFFF;margin-right:10px;margin-bottom:20px;}
.jobsshow .l .main .jobstit .lab .li:hover{background-color:#FFFAF0;border:1px #FF6600 solid;color:#FF6600}
.jobsshow .l .main .item{width:813px;border-bottom:1px #CCCCCC  dashed;padding-left:40px;padding-top:15px;padding-bottom:15px;position:relative}
.jobsshow .l .main .item .itemli{float:left;width:200px;height:36px;line-height:36px;color:#333333;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding-right:15px;}
.jobsshow .l .main .item .itemli span{padding-right:15px;color:#999999;}
.jobsshow .l .main .item .add{float:left;height:36px;line-height:36px;color:#333333;padding-right:10px;}
.jobsshow .l .main .item .add span{padding-right:15px;float:left;color:#999999;}
.jobsshow .l .main .item .map{width:21px;height:21px;float:left;background-image:url(/Content/assets/img/01.png);background-repeat:no-repeat;background-position:0px -149px;margin-top:7px;cursor:pointer}
.jobsshow .l .main .item .map:hover{background-position:0px -179px;}
.jobsshow .l .main .item .invalid_icon{position:absolute;right:50px;top:45px;width: 148px;height: 88px;overflow: hidden;background:url(/Content/assets/img/08.png);}
.jobsshow .l .main .item .btns{position:absolute;right:50px;top:55px;}
.jobsshow .l .main .item .btns .app{width:86px;line-height:40px;padding-left:42px;font-size:16px;height:40px;background-color:#FF6600;background-image:url(/Content/assets/img/01.png);background-repeat:no-repeat;background-position:15px -208px;color:#FFFFFF;border-radius:4px;cursor:pointer}
.jobsshow .l .main .item .btns .app:hover{background-color:#FF4400;}
.jobsshow .l .main .item .btns .sbtn{width:26px;height:26px;float:left;margin-left:8px;margin-right:8px;background-image:url(/Content/assets/img/01.png);background-repeat:no-repeat;background-position:5px -260px;margin-top:15px;cursor:pointer;}
.jobsshow .l .main .item .btns .sbtn.s1{background-position:5px -260px;}
.jobsshow .l .main .item .btns .sbtn.s1:hover{background-position:5px -290px;}
.jobsshow .l .main .item .btns .sbtn.s2{background-position:5px -318px;}
.jobsshow .l .main .item .btns .sbtn.s2:hover{background-position:5px -348px;}
.jobsshow .l .main .item .btns .sbtn.s3{background-position:5px -379px;}
.jobsshow .l .main .item .btns .sbtn.s3:hover{background-position:5px -414px;}
.jobsshow .l .main .contact{width:853px;border-bottom:1px #CCCCCC  dashed;padding-top:15px;padding-bottom:25px;position:relative}
.jobsshow .l .main .contact .tit{margin-left:22px;border-left:3px #FF6600 solid;padding-left:15px;font-size:18px;color:#333333;height:18px;line-height:18px;margin-bottom:25px;}
.jobsshow .l .main .contact .txt{height:30px;padding-left:42px;font-size:16px;margin-top:10px;float:left;}
.jobsshow .l .main .contact .txt img{vertical-align:middle;padding-left:15px}
.jobsshow .l .main .contact .txt .tel{font-family:Georgia,"Times New Roman",Times,serif;color:#FF6600;font-size:18px;padding-right:30px;}
.jobsshow .l .main .contact .appbtn{float:left;width:95px;height:32px;line-height:32px;font-size:14px;color:#FF6600;border:1px #FF6600 solid;border-radius:4px;background-color:#FFFFFF;text-align:center;cursor:pointer;margin-top:5px;}
.jobsshow .l .main .contact .appbtn:hover{background-color:#FF6600;color:#FFFFFF;}
.jobsshow .l .main .contact .teltip{width:315px;background-color:#A6A6A6;color:#FFFFFF;height:36px;line-height:36px;padding-left:18px;position:relative;margin-top:12px;margin-left:122px;}
.jobsshow .l .main .contact .teltip .arrows{position:absolute;left:26px;top:-9px;width:30px;height:12px;background-image:url(/Content/assets/img/01.png);background-repeat:no-repeat;background-position:5px -456px;}
.jobsshow .l .main .contact .statistics{width:768px;height:100px;border:1px  #C8C8C8 dashed;margin:0 auto;margin-top:30px;position:relative;}
.jobsshow .l .main .contact .statistics .sttit{width:95px;height:25px;line-height:25px;background-color:#FFFFFF;position:absolute;left:20px;top:-15px;text-align:center;font-size:16px;}
.jobsshow .l .main .contact .statistics .stli{width:252px;border-right:1px #C8C8C8 dashed;height:70px;float:left;margin-top:15px;}
.jobsshow .l .main .contact .statistics .stli.last{border-right-width:0px;}
.jobsshow .l .main .contact .statistics .stli .slitit{text-align:center;font-size:18px;color:#FF6600;height:30px;padding-top:12px;}
.jobsshow .l .main .contact .statistics .stli .slitxt{text-align:center;font-size:14px;height:23px;}
.jobsshow .l .main .contact .statistics .stli .slitxthelp{text-align:center;font-size:14px;height:23px;position:relative;background-image:url(/Content/assets/img/01.png);background-repeat:no-repeat;background-position:right -490px;width:136px;margin:0 auto;cursor:pointer;}
.jobsshow .l .main .contact .statistics .stli .slitxthelp:hover{background-position:right -516px;}
.jobsshow .l .main .contact .statistics .stli .slitxthelp .tip{display:none;width:200px;background-color:#A6A6A6;color:#FFFFFF;height:36px;line-height:36px;position:absolute;margin-top:15px;left:75px;top:23px;}
.jobsshow .l .main .contact .statistics .stli .slitxthelp .tip .arrows{position:absolute;left:26px;top:-12px;width:30px;height:12px;background-image:url(/Content/assets/img/01.png);background-repeat:no-repeat;background-position:5px -456px;}
.jobsshow .l .main .describe{width:853px;padding-top:15px;padding-bottom:25px;}
.jobsshow .l .main .describe .tit{margin-left:22px;border-left:3px #FF6600 solid;padding-left:15px;font-size:18px;color:#333333;height:18px;line-height:18px;margin-bottom:20px;}
.jobsshow .l .main .describe .txt{padding-left:42px;line-height:180%;padding-right:30px;word-break: break-all;}
.jobsshow .l .main .describe .qrcode{width:753px;padding-top:10px;padding-bottom:10px;margin:0 auto;margin-top:30px;background-color:#FEECDE;padding-left:15px;}
.jobsshow .l .main .describe .qrcode .code{width:70px;height:70px;padding:3px;background-color:#FFFFFF;float:left}
.jobsshow .l .main .describe .qrcode .code img{width:70px;height:70px;border:0px;}
.jobsshow .l .main .describe .qrcode .codetxt{float:left;padding-left:15px;padding-top:25px;width:280px;}
.jobsshow .l .main .describe .qrcode .res{float:left;padding-left:65px;line-height:200%;padding-top:10px;background-image:url(/Content/assets/img/02.png);background-repeat:no-repeat;background-position:0px 15px;}
.jobsshow .l .main .describe .qrcode .res strong{color:#FF6600}
.jobsshow .l .main .describe .qrcode .res span{padding-left:5px;padding-right:5px;}
.jobsshow .l .main .describe .qrcode .resempty{float:left;padding-left:65px;line-height:200%;padding-top:10px;background-image:url(/Content/assets/img/02.png);background-repeat:no-repeat;background-position:0px 15px;padding-top:25px;height:50px;}
.jobsshow .l .main .describe .qrcode .resempty .resadd{cursor:pointer;display:inline;margin-left:25px;padding:9px 20px;background-color:#FF6600;color:#FFFFFF;border-radius:6px;}
.jobsshow .l .main .describe .qrcode .resempty .resadd:hover{background-color:#FF4400;}
.jobsshow .l .main .describe .qrcode .reslogin{float:left;padding-left:65px;line-height:200%;padding-top:10px;background-image:url(/Content/assets/img/02.png);background-repeat:no-repeat;background-position:0px 15px;padding-top:25px;height:50px;}
.jobsshow .l .main .describe .qrcode .reslogin .resadd{cursor:pointer;display:inline;margin-left:25px;padding:9px 20px;background-color:#FF6600;color:#FFFFFF;border-radius:6px;}
.jobsshow .l .main .describe .qrcode .reslogin .resadd:hover{background-color:#FF4400;}
.jobsshow .l .main .appjob{padding-left:15px;padding-top:30px;color:#999999}
.jobsshow .l .main .appjob .appbtn{cursor:pointer;display:inline;margin-left:25px;margin-right:25px;font-size:16px;padding:10px 25px;background-color:#FF6600;color:#FFFFFF;border-radius:6px;}
.jobsshow .l .main .appjob .appbtn:hover{background-color:#FF4400;}
.jobsshow .l .main .appjob .appbtn.btn_disabled{background-color:#EBEBEB;border:1px #CBCECF solid;color:#A0A0A0;cursor:default}
.jobsshow .l .main .appjob .appbtn.btn_disabled:hover{background-color:#EBEBEB;border:1px #CBCECF solid;color:#A0A0A0;cursor:default}

.btn_disabled{background-color:#EBEBEB;border:1px #CBCECF solid;color:#A0A0A0;cursor:default}
.btn_disabled:hover{background-color:#EBEBEB;border:1px #CBCECF solid;color:#A0A0A0;cursor:default}
.jobsshow .l .main .favorite{margin-top:35px;padding-left:620px;}
.jobsshow .l .main .favorite .fli{width:40px;padding-left:30px;float:left;height:26px;line-height:26px;color:#666666;background-color:#EFEFEF;margin-right:2px;font-size:12px;background-image:url(/Content/assets/img/01.png);background-repeat:no-repeat;background-position:0px -558px;cursor:pointer}
.jobsshow .l .main .favorite .fli.f1{background-position:10px -553px;}
.jobsshow .l .main .favorite .fli.f1:hover{color:#FF6600;background-position:10px -593px;}
.jobsshow .l .main .favorite .fli.f2{background-position:10px -632px;}
.jobsshow .l .main .favorite .fli.f2:hover{color:#FF6600;background-position:10px -662px;}
.jobsshow .l .main .favorite .fli.f3{background-position:10px -694px;}
.jobsshow .l .main .favorite .fli.f3:hover{color:#FF6600;background-position:10px -725px;}
.jobsshow .l .comjobs{width:853px;border:1px #EEEEEE solid;margin-top:25px;}
.jobsshow .l .comjobs .tit{width:853px;border-bottom:1px #EEEEEE solid;font-size:16px;color:#333333;height:48px;line-height:48px;}
.jobsshow .l .comjobs .tit .t{width:260px;float:left;padding-left:20px;}
.jobsshow .l .comjobs .tit .more{font-size:12px;width:140px;float:right;}
.jobsshow .l .comjobs .listbox{padding-left:25px;padding-top:20px;}
.jobsshow .l .comjobs .list{border:1px #EEEEEE solid;padding-left:12px;padding-top:10px;padding-bottom:5px;float:left;margin-bottom:20px;width:240px;margin-right:20px;}
.jobsshow .l .comjobs .list:hover{border:1px #FF6600 solid;-moz-box-shadow:0px 0px 10px #E4E4E4;/*firefox*/-webkit-box-shadow:0px 0px 10px #E4E4E4;/*safari鎴朿hrome*/box-shadow:0px 0px 10px #E4E4E4;/*opera鎴杋e9*/background-color:#FEFCF8}
.jobsshow .l .comjobs .list .jobname{width:215px;height:30px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.jobsshow .l .comjobs .list .wage{width:130px;color:#FF6600;height:28px;}
.jobsshow .l .comjobs .list .txt{height:28px;padding-right:10px;}
.jobsshow .l .comjobs .list .txt .line_substring{float:left;max-width:90px;white-space:nowrap;_white-space:normal;_width:80px;_height:28px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;_background:transparent;}
.jobsshow .l .comjobs .list .txt span{padding-left:5px;padding-right:5px;}
.jobsshow .r{float:left;width:320px;}
.jobsshow .r .cominfo{width:318px;border:1px #EEEEEE solid;}
.jobsshow .r .cominfo:hover{-moz-box-shadow:0px 0px 10px #E4E4E4;/*firefox*/-webkit-box-shadow:0px 0px 10px #E4E4E4;/*safari鎴朿hrome*/box-shadow:0px 0px 10px #E4E4E4;background-color:#FFFFFF}
.jobsshow .r .cominfo .comlogo{width:140px;height:140px;padding:3px;margin:0 auto;margin-top:40px;margin-bottom:5px;border:1px #EEEEEE solid;}
.jobsshow .r .cominfo .comlogo img{width:140px;height:140px;border:0px;}
.jobsshow .r .cominfo .comname{text-align:center;font-size:16px;height:45px;line-height:45px;margin-bottom:10px;color:#333333;width:318px;text-align: center;}
.jobsshow .r .cominfo .comname .line_substring{display:inline-block;*display:inline;*zoom:1;max-width:200px;white-space:nowrap;_white-space:normal;_width:200px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;_background:transparent;margin-left: 22px;}
.jobsshow .r .cominfo .comname *{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;}
.jobsshow .r .cominfo .comname img{margin-top: 2px;margin-left: 5px;}
.jobsshow .r .cominfo .info{padding-left:30px;height:40px;}
.jobsshow .r .cominfo .info span{padding:3px 6px;margin-right:20px;background-color:#F8F8F8;color:#666666}
.jobsshow .r .famousWrap{width:318px;border:1px #EEEEEE solid;margin-top:20px;}
.jobsshow .r .famousWrap:hover{-moz-box-shadow:0px 0px 10px #E4E4E4;/*firefox*/-webkit-box-shadow:0px 0px 10px #E4E4E4;/*safari鎴朿hrome*/box-shadow:0px 0px 10px #E4E4E4;background-color:#FFFFFF}
.jobsshow .r .comqrcode{width:288px;border:1px #EEEEEE solid;margin-top:25px;padding-left:30px;padding-top:20px;padding-bottom:20px;}
.jobsshow .r .comqrcode:hover{-moz-box-shadow:0px 0px 10px #E4E4E4;/*firefox*/-webkit-box-shadow:0px 0px 10px #E4E4E4;/*safari鎴朿hrome*/box-shadow:0px 0px 10px #E4E4E4;background-color:#FFFFFF}
.jobsshow .r .comqrcode .code{width:85px;height:85px;padding:3px;border:1px #EEEEEE solid;float:left;}
.jobsshow .r .comqrcode .code img{width:85px;height:85px;}
.jobsshow .r .comqrcode .codetxt{float:left;width:155px;padding-left:20px;line-height:160%;}
.jobsshow .r .security{width:320px;margin-top:25px;}
.jobsshow .r .security:hover{-moz-box-shadow:0px 0px 10px #E4E4E4;/*firefox*/-webkit-box-shadow:0px 0px 10px #E4E4E4;/*safari鎴朿hrome*/box-shadow:0px 0px 10px #E4E4E4;background-color:#FFFFFF}
.jobsshow .r .security img{width:320px;height:326px;border:0px;}
.jobsshow .r .comjobs{width:318px;border:1px #EEEEEE solid;margin-top:25px;}
.jobsshow .r .comjobs .tit{width:318px;border-bottom:1px #EEEEEE solid;font-size:16px;color:#333333;height:48px;line-height:48px;}
.jobsshow .r .comjobs .tit .t{width:160px;float:left;padding-left:20px;}
.jobsshow .r .comjobs .tit .more{font-size:12px;width:50px;float:right;}
.jobsshow .r .comjobs .list{border-bottom:1px #EEEEEE solid;padding-left:20px;padding-top:10px;padding-bottom:10px;}
.jobsshow .r .comjobs .list:hover{background-color:#FEFCF8}
.jobsshow .r .comjobs .list .jobname{width:180px;float:left;height:30px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.jobsshow .r .comjobs .list .wage{width:100px;float:left;text-align:right;color:#FF6600;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.jobsshow .r .comjobs .list .txt{height:28px;}
.jobsshow .r .comjobs .list .txt span{padding-left:5px;padding-right:5px;}
.jobsshow .r .comjobs .list .txt .line_substring{float:left;max-width:130px;white-space:nowrap;_white-space:normal;_width:90px;_height:28px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;_background:transparent;}

/*鑱屼綅璇︾粏椤电粰鎴戠暀瑷€*/
.jobsshow .r .leave_msg{width:318px;border:1px #EEEEEE solid;margin-top:25px;}
.jobsshow .r .leave_msg:hover{-moz-box-shadow:0px 0px 10px #E4E4E4;/*firefox*/-webkit-box-shadow:0px 0px 10px #E4E4E4;/*safari鎴朿hrome*/box-shadow:0px 0px 10px #E4E4E4;background-color:#FFFFFF}
.jobsshow .r .leave_msg .tit{width:318px;font-size:16px;color:#333333;height:48px;line-height:48px;}
.jobsshow .r .leave_msg .tit .t{width:160px;float:left;padding-left:20px;}
.jobsshow .r .leave_msg .msg_textarea{padding:10px 20px;padding-top:0;}
.jobsshow .r .leave_msg .msg_textarea textarea{height:80px;border-radius:5px;resize:none;padding:10px;border:1px solid #ededed;width:258px;}
.jobsshow .r .leave_msg .send_btn_group{margin-top:42px;position:relative;}
.jobsshow .r .leave_msg .send_btn_group .send_btn{position:absolute;top:-40px;right:20px;width:74px;height:26px;line-height:26px;text-align:center;border-radius:3px;background:#FF6600;color:#fff;cursor:pointer;}
.jobsshow .r .leave_msg .send_btn_group .send_btn:hover{background:#FF4400;}