@{
	ViewBag.Title = "CompInfo";
	Layout = "~/Views/Shared/_DetailLayout.cshtml";
}
@* 企业中心顶部导航 *@
@Html.Partial("~/Views/Shared/PartialCompanyTopNav.cshtml")
<link href="~/Content/assets/css/company/company_user.css" rel="stylesheet" />
@* 账号管理页面 *@
<div class="user_main">
	@* 企业中心账号管理 左侧导航栏 *@
	@Html.Partial("~/Views/Shared/Partial/PartialLeftAccountMng.cshtml")
	<div class="mright">
		<div class="user_pagetitle">
			<div class="pat_l">基本资料</div>
			<div class="clear"></div>
		</div>
		<div class="profile_wrap">
			<div class="profile_title">基本信息</div>
			<div class="dashed_line"></div>
			<div class="clear"></div>
			<div class="basic_form J_focus pos_rel">
				<div class="item">
					<div class="item_label">
						<span class="asterisk"></span>企业名称：
					</div>
					<div class="item_val">
						<div id="companyName" class="line_substring" title="">@*uqing*@</div>
						@*<span class="sm_tip">
								（修改公司名称请联系客服人员，服务热线：<span class="num">027-87879607</span>）
							</span>*@

					</div>
					<div class="clear"></div>
				</div>



				@*<div class="item">
						<div class="item_label">
							<span class="asterisk"></span>企业性质：
						</div>
						<div class="item_val select_input select_205_34 J_hoverinput J_dropdown J_listitme_parent">
							<span class="J_listitme_text">请选择</span>
							<div class="dropdowbox8 J_dropdown_menu">
								<div class="dropdow_inner8">
									<ul class="nav_box">
										<li>
											<a class="J_listitme" href="javascript:void(0)">国企</a>
										</li>
										<li>
											<a class="J_listitme" href="javascript:void(0)">民营</a>
										</li>
										<li>
											<a class="J_listitme" href="javascript:void(0)">合资</a>
										</li>
										<li>
											<a class="J_listitme" href="javascript:void(0)">外商独资</a>
										</li>
										<li>
											<a class="J_listitme" href="javascript:void(0)">股份制企业</a>
										</li>
										<li>
											<a class="J_listitme" href="javascript:void(0)">上市公司</a>
										</li>
										<li>
											<a class="J_listitme" href="javascript:void(0)">国家机关</a>
										</li>
										<li>
											<a class="J_listitme" href="javascript:void(0)">事业单位</a>
										</li>
										<li>
											<a class="J_listitme" href="javascript:void(0)">其它</a>
										</li>
									</ul>
								</div>
							</div>

						</div>
						<div class="clear"></div>
					</div>*@



				<div class="item">
					<div class="item_label">
						<span class="asterisk"></span>所属行业：
					</div>
					<select id="trade" class="selectOption"></select>
					@*<div class="item_val select_input select_205_34 J_hoverinput">
							<span title="" class="result J_resuletitle_trade">请选择</span>

							<div class="clear"></div>
						</div>*@
					<div class="clear"></div>
				</div>
				@*<div class="logo_wrap pos_rel" style="top:0;">
						<div class="logo">
							<img width="120" height="120" src="/Content/assets/img/no_logo.png">
						</div>
						<div class="logo_upload">
							<div class="upimg">
								<div class="up">上传logo</div>
								<div class="uptip">要求：请用JPG,GIF 尺寸：120*120</div>
							</div>
						</div>
					</div>*@
				<div class="clear_logo">清除</div>



				@*<div class="item">
						<div class="item_label">
							<span class="asterisk"></span>企业规模：
						</div>

						<select id="" class="selectOption">
							<option value="3k以下">3k以下</option>
							<option value="3k-5k">3k-5k</option>
							<option value="5k-10k">5k-10k</option>
							<option value="10k以上">10k以上</option>
						</select>

						<div class="item_val select_input select_205_34 J_hoverinput J_dropdown J_listitme_parent">

						<span class="J_listitme_text">请选择</span>
							<div class="dropdowbox8 J_dropdown_menu">
								<div class="dropdow_inner8">
									<ul class="nav_box">
										<li>
											<a class="J_listitme" href="javascript:void(0)">20人以下</a>
										</li>
										<li>
											<a class="J_listitme" href="javascript:void(0)">20-99人</a>
										</li>
										<li>
											<a class="J_listitme" href="javascript:void(0)">100-499人</a>
										</li>
										<li>
											<a class="J_listitme" href="javascript:void(0)">500-999人</a>
										</li>
										<li>
											<a class="J_listitme" href="javascript:void(0)">1000-9999人</a>
										</li>
										<li>
											<a class="J_listitme" href="javascript:void(0)">10000人以上</a>
										</li>
									</ul>
								</div>
							</div>


						</div>
						<div class="clear"></div>
					</div>*@



				@*<div class="item">
						<div class="item_label">
							<span class="asterisk"></span>所在地区：
						</div>
						<div class="item_val select_input_multi select_205_34 J_hoverinput">
							<span title="" class="result J_resuletitle_city">请选择</span>

							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>*@



				@*<div class="item">
						<div class="item_label">注册资金：</div>
						<div class="item_val">
							<div class="select_input_write">
								<input type="text" class="inputst" name="registered" value="">
								<div class="righttxt for_tooltip J_tooltip J_listitme_parent">
									<span class="J_listitme_text">万人民币</span>
									<div class="dropdowbox14 J_tooltip_menu">
										<div class="dropdow_inner14">
											<ul class="nav_box">
												<li>
													<a class="J_listitme" href="javascript:void(0)">万人民币</a>
												</li>
												<li>
													<a class="J_listitme" href="javascript:void(0)">万美元</a>
												</li>
											</ul>
										</div>
									</div>

								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="item_label">企业网址：</div>
						<div class="item_val">
							<input type="text" value="" placeholder="http://" class="input_205_34" name="website">
						</div>
						<div class="clear"></div>
					</div>*@



				@*<div class="item">
						<div class="item_label">企业福利：</div>
						<div class="item_val select_input_multi select_245_34 w518 J_hoverinput">
							<span title="" class="result J_resuletitle_jobtag">请选择</span>

							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>*@
				@*<div class="item">
					<div class="item_label">
						<span class="asterisk"></span>企业简介：
					</div>
					<div class="item_val">
						<textarea class="textarea_438_34 w518" name="contents"></textarea>
					</div>
					<div class="clear"></div>
				</div>*@
			</div>
		</div>
		<div class="profile_wrap">
			<div class="profile_title contact">联系方式</div>
			<div class="dashed_line"></div>
			<div class="clear"></div>
			<div class="basic_form J_focus">
				<div class="item">
					<div class="item_label">
						<span class="asterisk"></span>联系人：
					</div>
					<div class="item_val">
						<input id="serName" type="text" value="" class="input_245_34 fl">
						@*<label class="item_chk fl">
								<input type="checkbox" name="contact_show" value="1"> 不公开
							</label>*@
					</div>
					<div class="clear"></div>
				</div>
				<div class="item">
					<div class="item_label">
						<span class="asterisk"></span>联系电话：
					</div>
					<div class="item_val">
						<input id="phone" type="text" value="" class="input_245_34 fl" >
						@*<label class="item_chk fl">
								<input type="checkbox" name="telephone_show" value="1"> 不公开
							</label>*@
					</div>
					<div class="clear"></div>
				</div>
				@*<div class="item">
						<div class="item_label">&nbsp;</div>
						<div class="item_val">
							<input type="text" value="" class="input_110_34 w60 mr4 fl" name="landline_tel_first" placeholder="区号">
							<input type="text" value="" class="input_110_34 w89 mr4 fl" name="landline_tel_next" placeholder="固定电话">
							<input type="text" value="" class="input_110_34 w52 fl" name="landline_tel_last" placeholder="分机号">
							<label class="item_chk fl">
								<input type="checkbox" name="landline_tel_show" value="1"> 不公开
							</label>
						</div>
						<div class="clear"></div>
					</div>*@
				<div class="item">
					<div class="item_label">
						<span class="asterisk"></span>联系邮箱：
					</div>
					<div class="item_val">
						<div class="reg-form-content fl">
							<input id="email" type="text" value="" class="input_245_34 inputElem">
						</div>
						@*<label class="item_chk fl">
								<input type="checkbox" name="email_show" value="1"> 不公开
							</label>*@
					</div>
					<div class="clear"></div>
				</div>
				@*<div class="item">
						<div class="item_label">QQ：</div>
						<div class="item_val">
							<input type="text" value="" class="input_245_34 fl" name="qq">
						</div>
						<div class="clear"></div>
					</div>*@
				@*<div class="item">
						<div class="item_label">
							<span class="asterisk"></span>联系地址：
						</div>
						<div class="item_val fl">
							<input type="text" value="" class="input_245_34 w415" name="address" autocomplete="off">
						</div>
						<div class="search fl btn_blue J_hoverbut btn_100_32 btn_inline">精确查找</div>
						<div class="clear"></div>
					</div>*@
				@*<div class="item">
						<div class="item_label">&nbsp;</div>
						<div class="item_val">
							<div style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
							<label class="synchro_chk">
								<input type="checkbox" name="sync" value="1"> 修改联系方式同步到职位
							</label>
						</div>
						<div class="clear"></div>
					</div>*@
				<div class="item">
					<div class="item_label">&nbsp;</div>
					<div class="item_val">
						<div id="btnSaveInfo" class="btn_blue J_hoverbut btn_115_38">保存</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>
<div class="user_foot font_gray9">© 2016 74cms.com All Right Reserved</div>
<div class="floatmenu">
	<div class="item ask">
		<a class="blk" target="_blank" href="javascript:void(0)"></a>
	</div>
	<div class="item backtop" style="display: none;">
		<a class="blk"></a>
	</div>
</div>
<div class="disappear_tooltip pie_about" style="left: 911.5px; top: 317.5px;">
	<div class="icon">
	</div>
	<div class="content"></div>
</div>
<script src="~/Content/assets/js/company/compinfo.js"></script>
