@{
	ViewBag.Title = "Register";
	Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>会员注册-湖北省人才网</title>
	<meta name="keywords" content="湖北省人才网">
	<meta name="description" content="湖北省人才网">
</head>

<div class="user_head_bg">
	<div class="user_head">
		<div class="logobox">
			<a href="/"><img src="/Content/assets/img/logo.gif" border="0"></a>
		</div>
		<div class="logotxt">
			|&nbsp;&nbsp;
			会员注册
		</div>
		<div class="reg">
			已经有账号？ <a href="/member/login" class="btn_blue J_hoverbut btn_inline">立即登录</a>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="reg_select" id="selectRegiter">
	<div class="tit">请选择注册类型</div>
	<div class="sbox">
		<div class="slisit1 J_hoverbut" data-type="2">
			<div class="stitle">企业注册</div>
			<div class="stxt">
				√&nbsp;发布招聘信息<br>
				√&nbsp;收取简历投递<br>
				√&nbsp;多种职位分享
			</div>
		</div>
		<div class="slisitc">&nbsp;</div>
		<div class="slisit2 J_hoverbut" data-type="1">
			<div class="stitle">个人注册</div>
			<div class="stxt">
				√&nbsp;免费创简历<br>
				√&nbsp;职位海量淘<br>
				√&nbsp;简历轻松投<br>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
 @* 下方阴影 *@
<div class="reg_select_bg">
	<div class="bl"></div>
	<div class="br"></div>
	<div class="clear"></div>
</div>

<script>
	$(function () {
		(function (window) {
			var regiterItem = $("#selectRegiter").find(".J_hoverbut");
			regiterItem.unbind("click");
			regiterItem.bind("click", function () {
				var $that = $(this);
				var type = $that.data("type");
				if (!type || !(type == 1 || type == 2)) {
					yHelper.response.redirect("/member/register");
				} else {
					yHelper.response.redirect("/member/regist/" + type);
				}
			});
		})(window)
	})
</script>

